<meta charset="utf-8"/>
<h1 dir="rtl" style="text-align: center;"><strong>אופטימל טריפ</strong> - כדי שתוכלו להתרכז במה שבאמת חשוב</h1>
<p dir="rtl"><img style="width: 100%;" src="https://cdn.pbrd.co/images/13coQWN1Z.jpg" alt="" /></p>
<p dir="rtl"><span dir="rtl"><strong>אופטימל טריפ הינה חברה צעירה שמפתחת מערכת הזמנת טיסות ומלונות המאפשרת מציאת הנסיעה המתאימה ביותר ללקוח.</strong><br /> <br /> <span style="text-decoration: underline;">למערכת היתרונות הבאים, בין היתר:</span></span></p>
<ul dir="rtl">
<li>חיפוש גמיש על פני טווח תאריכים, ללא שום הגבלה, המציע אפשרויות נרחבות בהרבה מכל מה שאתם מכירים בכל אתר ומערכת קיימת (מוזמנים לנסות לאתגר אותנו)</li>
<li><span dir="rtl">חיפוש עפ"י כתובת יעד - כיתבו לאיזה מקום תרצו להגיע, והמערכת תבדוק בכל שדות התעופה בסביבתו, ואפילו תתחשב בזמן הנסיעה ב<span class="text_exposed_show">ין שדה התעופה ליעד.</span></span></li>
<li><span dir="rtl"><span class="text_exposed_show">חיפוש מספר יעדים במקביל: אם לא משנה לך לטוס לפריז או ללונדון, ניתן לשים את שניהם בחיפוש אחד: המערכת מכסה את כל שדות התעופה בעולם, וניתן לבחור דרכה נסיעה בין עשרות יעדים בחיפוש בודד.</span></span></li>
<li><span dir="rtl"><span class="text_exposed_show">כל החיפושים הם עם נתוני אמת - אצלינו לא קיימת הסיטואציה שבה מצאתם טיסה במחיר טוב וכשאתם באים לעשות בוקינג מסתבר שזה כבר לא רלוונטי.</span></span></li>
<li><span dir="rtl"><span class="text_exposed_show">מערכת פילטרים ייחודית וחזקה המאפשרת למצוא את הטיסה המתאימה לך ביותר מתוך כלל התוצאות.</span></span></li>
<li><span dir="rtl"><span class="text_exposed_show">מחירים זולים יותר כמעט תמיד, מ-Booking, Trivago, HotelsCombined</span></span></li>
</ul>
<p dir="rtl"><strong><span dir="rtl"><span class="text_exposed_show">נכון להיום המערכת אינה זמינה לקהל הרחב, אך ניתן לקבל את היתרונות שלה דרך סוכנת הנסיעות שלנו, שתדבר איתכם טלפונית או דרך מיילים, ותשתמש במערכת כדי למצוא לכם את הטיסה האידאלית ובאופן כמעט מיידי.</span></span></strong></p>
<table border="0" width="100%" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td>
<p dir="rtl"><img src="https://cdn.pbrd.co/images/13f66LUno.jpg" alt="" width="253" height="253" /></p>
</td>
<td>
<p dir="rtl"><strong>דף הפייסבוק שלנו: <a href="https://www.facebook.com/pg/Optimal-Trip-123652741545332">כאן</a></strong></p>
<p dir="rtl"><strong>טל' של תרצה הסוכנת: 050-9296992</strong></p>
<p dir="rtl"><strong>מייל: agent@optimaltrip.co.il</strong></p>
<p dir="rtl"><strong>טל' לשאלות על המערכת: 050-</strong><strong>7613740 אורי.</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
