<div class="row btn-group" style="
    background-color: rgba(107,107,107,0.54)">
    <ul class="nav nav-pills">
        <li id="roundTripFlight" role="presentation"><a ng-href="#/flight/roundTrip">Round Trip</a></li>
        <li id="oneWay" role="presentation"><a ng-href="#/flight/oneWayFlight">One Way</a></li>
        <li id="multiple" role="presentation"><a ng-href="#/flight/multipleFlights" ng-click="legsNum(1)">Multi Cities</a></li>
    </ul>
</div>

<ui-view></ui-view>








