<div ng-init="init()" ng-if="!loading">
   <div class="row">
      <div class="col-md-5 btn_top_con">
         <label>Travelers</label>
         <br/>
         <label ng-repeat="person in passengersAsObjects">
         <input id="person{{$index}}" type="checkbox" data-ng-model="person.checked"> <label for="person{{$index}}">{{person.name}} &nbsp&nbsp</label>
         </label>
      </div>
   </div>
    <search-history selected="setLegsFromHistory(data)"></search-history>
<!--<pre>{{historyData | json}}</pre>-->
   <div class="flight-form-wrapper"></div>
   <form name="mainForm"  ng-submit="mainForm.$valid && sendForm()" >

      <div ng-repeat="leg in listLegs" class="flight-form-wrapper legs-wrap">
         <div class="row">
            <div class="col-lg-2 form-group">
               <label for="airportInputField">Origin</label>
               <input
                      airport-autocomplete

                      distance-nearby="leg.nearbyOriginDistance"
                      id="airportInputField"
                      type="text"
                      class="airport form-control "
                      ng-required="leg.addressesNearbyOrigion.selected.length == 0"
                      ng-model="leg.origin[0]"
                      ng-keypress="userInput = true;"
                      placeholder="City or airport">

               <input ng-autocomplete="leg.origin_input"

                      class="form-control address"
                      type="text" ng-model="leg.origin_input"
                      placeholder="Address">
            </div>
            <div class="col-lg-1 form-group one-and-half">

               <div class="row">
                  <!-- NEARBY AIRPORTS -->

 <label  class="labelForNearbyAirports">Nearby Airports</label><br>
                          <multiple-select-menu
                                  model="leg.airportsNearbyOrigion"
                                  search-value="leg.origin[0]"
                                  distance = "leg.nearbyOriginDistance"
                                   resolve-type="byAirport"
                                   user-input= "userInput"
                                    >


                          </multiple-select-menu>


               </div>
               <div class="row">
                  <!-- NEARBY ADDRESSES -->


                  <multiple-select-menu style="padding-top:10px"
                                  model="leg.addressesNearbyOrigion"
                                  search-value="leg.origin_input"
                                  distance = "leg.nearbyOriginDistanceAddress"
                                   resolve-type="byAddress"
                                         user-input= "userInput"
                  >



                          </multiple-select-menu>


               </div>
            </div>
            <div class="col-lg-1 form-group">
               <div>
                  <label>Transportation</label>
                  <input id="checkbox2{{$index}}" type="checkbox" ng-model="leg.origin_private" ng-change="leg.origin_rental = leg.origin_private"><label for="checkbox2{{$index}}">Drive</label> <br/>
                  <input id="checkbox3{{$index}}" type="checkbox" ng-model="leg.origin_public"><label for="checkbox3{{$index}}">Public</label>
               </div>
            </div>
            <div class="col-lg-2 form-group">
               <label for="airportDestField">Destination</label>
               <input airport-autocomplete

                      distance-nearby="leg.nearbyDestinationDistance"
                      id="airportDestField"
                      type="text"
                      class="form-control airport"
                      ng-model="leg.destination[0]"
                      ng-required="leg.addressesNearbyDestination.selected.length == 0"
                      placeholder="City or airport">

               <input ng-autocomplete="leg.destination_input"
                      class="form-control address"
                      type="text"
                      ng-model="leg.destination_input"
                      placeholder="Address">

            </div>
            <div class="col-lg-1 form-group one-and-half">
               <label  class="labelForNearbyAirports">Nearby Airports</label><br>
               <div class="row">
                  <!-- NEARBY AIRPORTS-->

                      <multiple-select-menu
                                   model="leg.airportsNearbyDestination"
                                  search-value="leg.destination[0]"
                                  distance = "leg.nearbyDestinationDistance"
                                   resolve-type="byAirport"
                                    user-input= "userInput"

                                    >


                          </multiple-select-menu>


               </div>
               <div class="row">
                  <!-- NEARBY ADDRESSES -->

                      <multiple-select-menu
                              style="padding-top:10px"
                                  model="leg.addressesNearbyDestination"
                                  search-value="leg.destination_input"
                                  distance = "leg.nearbyDestinationDistanceAddress"
                                   resolve-type="byAddress"
                                   user-input= "userInput"
                      >



                          </multiple-select-menu>




               </div>
            </div>
            <div class="col-lg-1 form-group">
               <div>
                  <label>Transportation</label>
                  <input id="checkbox6{{$index}}" type="checkbox" ng-model="leg.destination_private" ng-change="leg.destination_rental = leg.destination_private"><label for="checkbox6{{$index}}">Drive</label> <br/>
                  <input id="checkbox7{{$index}}" type="checkbox" ng-model="leg.destination_public"><label for="checkbox7{{$index}}">Public</label>
               </div>
            </div>
            <div class="col-lg-2 form-group one-and-half">
               <label>
                  Date
                  <input style="padding-left: 6px;" class="form-control" min="{{currentDate | date: 'yyyy-MM-dd'}}"  type="date" name="uDate{{$index}}"  ng-required="!leg.date[0]" ng-model="leg.dates_options[0]">
                  <div  style="color: crimson;" ng-show="submitted == true && mainForm.uDate{{$index}}.$error.required"> The date is invalid </div>

               </label>
               <div style="color:red" ng-show="leg{{$index}}.uDate.$invalid && leg{{$index}}.uDate.$touched">The date is invalid</div>
               
               <div class="form-group row">
                <label>Days before</label>
                <input type="text" class="form-control" ng-maxlength="2" ng-model="leg.days_before_dates">
             </div>
             <div class="form-group row">
                <label>Days after</label>
                <input type="text" class="form-control" ng-maxlength="2" ng-model="leg.days_after_dates">
             </div>
            </div>
            

            <div class="col-lg-1 form-group">
               <label for="arriveDepart{{$index}}">Arrive/Depart</label>
               <md-select name="arriveDepart{{$index}}" class="select-control" id="arriveDepart{{$index}}"
                  ng-model="leg.arrive_depart">
                  <md-option value="depart" ng-selected="true">Depart</md-option>
                  <md-option value="arrive">Arrive</md-option>
               </md-select>
            </div>
<div ng-if="$index > 0" ng-click="removeLegClicked($index)" class=" col-lg-1 mdi-action-highlight-remove  form-group delete_button"
    ></div>

         </div>
         <div class="row" ng-show="extra1==true">
            <div class="col-lg-1 form-group">
               <label>Search from</label>
               <input type="text" class="form-control" ng-model="leg.earliest_time">
            </div>
            <div class="col-lg-1 form-group">
               <label>Search to</label>
               <input type="text" class="form-control" ng-model="leg.latest_time">
            </div>
            <div class="row">
               <div class="form-group col-lg-1">
                  <label>Stops</label>
                  <md-select  ng-model="leg.max_stop">
                     <md-option value="0">0</md-option>
                     <md-option value="1">1</md-option>
                     <md-option value="2">2</md-option>
                     <md-option value="5">2+</md-option>
                  </md-select>
               </div>

               <div class="form-group col-lg-1" style="width: 8.6%">
                  <label>Min stop length</label>
                  <md-select data-ng-model="leg.min_stop"  >
                     <md-option value="0">0</md-option>
                     <md-option value="0.5">0.5</md-option>
                     <md-option value="1">1</md-option>
                     <md-option value="1.5">1.5</md-option>
                     <md-option value="2">2</md-option>
                     <md-option value="2.5">2.5</md-option>
                     <md-option value="3">3</md-option>
                  </md-select>
               </div>
               <div class="form-group col-lg-1" style="width: 8.8%">
                  <label>Max stop length</label>
                  <md-select ng-model="leg.max_connection_duration"   >
                     <md-option value="5" selected>any</md-option>
                     <md-option value="0">0</md-option>
                     <md-option value="1">1</md-option>
                     <md-option value="2">2</md-option>
                     <md-option value="3">3</md-option>
                     <md-option value="4">4</md-option>
                     <md-option value="5">5</md-option>
                     <md-option value="6">6</md-option>
                     <md-option value="7">7</md-option>
                     <md-option value="8">8</md-option>
                     <md-option value="9">9</md-option>
                     <md-option value="10">10</md-option>
                  </md-select>
               </div>


               <div class="form-group col-lg-1">
                  <label>Dates option</label>
                  <md-select ng-model="leg.dates_combination_method" >
                     <md-option value="0">Regular</md-option>
                     <md-option value="2">Few dates</md-option>
                     <md-option value="3">Duration</md-option>
                  </md-select>
               </div>
               <div id="col-lg-1-and-half2" class="form-group col-lg-1">
                  <label>Date</label>
                  <input type="text"    class="form-control" ng-required="!leg.dates_options[0]" ng-model="leg.date[0]">
               </div>
               <div class="form-group col-lg-1">
                  <label>Duration</label>
                  <input type="text" class="form-control" ng-model="leg.stay_duration[0]">
               </div>
            </div>
         </div>
      </div>
      <div class="showHideExtra">
         <small-button class=" btn-info md-raised btn-sm " ng-show="extra1==false" ng-click="extra1 = true">
            More search options
         </small-button>
         <small-button class=" btn-info md-raised btn-sm " ng-show="extra1 == true" ng-click="extra1=false">
            Hide More search options
         </small-button>
      </div>
      <div id="col-lg-1-and-half" class="col-lg-2 form-group">


         <label>Cabin</label>
         <md-select class="select-control" name="cabin" id="cabin" ng-model="legCommonDetails.cabin">
            <md-option value="economy" ng-selected="true">Economy</md-option>
            <md-option value="premEcon">Prem Econ</md-option>
            <md-option value="business">Business</md-option>
            <md-option value="first">First</md-option>
         </md-select>
         <br>
      </div>
      <div class="form-group">
         <label>Ticket type</label>

      </div>
      <div class="form-group">
         <div>
            <input type="checkbox" id="same_airport" ng-model="legCommonDetails.same_airport"><label for="same_airport">Return from arrival airport?</label> <br/>
         </div>
      </div>

      <!--<div class="showHideExtra col-lg-12 form-group">-->
      <!--<small-button class="btn-info md-raised btn-sm" ng-show="extra6==false" ng-click="extra6 = true">-->
      <!--show ticket options-->
      <!--</small-button>-->
      <!--<small-button class="btn-info md-raised btn-sm" ng-show="extra6 == true" ng-click="extra6 = false">-->
      <!--Hide ticket options-->
      <!--</small-button>-->
      <!--</div>-->
      <div class="col-lg-12">
         <md-button class=" btn-info btn-md col-md-1 md-raised " ng-click="add()">Add leg</md-button>
      </div>
      <div class="col-lg-12">
         <md-button type="submit" class="btn-primary btn-md col-md-1 md-raised" ng-click="submitted = true">Send</md-button>
      </div>

   </form>


</div>

  <div style="margin-top:5%" ng-if="loading">
      <h3 class="text-center">GETTING RESPONSE FROM SERVER</h3>




      <div   style="font-size: 22px; margin-top:8%"  class="text-center">

          {{currentStatus.percentage}}%
          <!--<div ng-show="currentStatus.currentQuery > 0">-->
              <!--{{currentStatus.currentQuery}} of {{currentStatus.totalQueries}}-->
          <!--</div>-->
          <!--<div ng-show="currentStatus.currentQuery == 0">-->
              <!--Waiting for response...-->
          <!--</div>-->
           <md-progress-linear
                   style="margin-left:25%; width:50%"
                   md-mode="{{currentStatus.pBarMode}}"
                   value="{{currentStatus.percentage}}">

           </md-progress-linear>
          <div style="height:2em"> {{::numofQueries}}</div>
             <md-button style="margin-top:10%" ng-click="stop_run()"
                         class="md-warn md-raised md-hue-2">STOP</md-button>
        </div>

   </div>