<div id="flight-form-wrapper1">

<form>

  <div class="row">
    <div class="col-lg-2 form-group">
      <label for="origin">Origin</label>
      <input class="form-control" type="text" id="origin" ng-model="origin"></input>
           
    </div>
    <div class="col-lg-2 form-group">
      <label for="tra">Transportation</label>
      <select class="selectpicker form-control" id="tra" name="transportOrg"  ng-model="transportOrg">
        <option value="taxi">Taxi</option>
        <option value="private">Private</option>
        <option value="rental">Rental</option>
        <option value="public">Public</option>
      </select>
    </div>
    <div class="col-lg-2 form-group">
      <label for="origin">Destination</label>
      <input class="form-control" type="text" ng-model="destination"></input>
    </div>
    <div class="col-lg-2 form-group">
      <label for="transDes">Transportation</label>
      <select name="transportDes" class="selectpicker form-control" id="transDes" ng-model="transportDes">
        <option value="taxi">Taxi</option>
        <option value="private">Private</option>
        <option value="rental">Rental</option>
        <option value="public">Public</option>
      </select>
    </div>
    <div class="col-lg-2 form-group">
      <label for="date">date</label>
      <input class="form-control" type="date" ng-model="oneWay.date"></input>
    </div>
    <div class="col-lg-2 form-group">
      <label >Arrive/Depart</label>
      <select name="arriveDepart" class="selectpicker form-control" id="transDes" ng-model="oneWay.arriveDepart">
        <option value="depart">Depart</option>
        <option value="arrive">Arrive</option>
      </select>
    </div>
  </div>
  <div class="row" ng-show="extra==true">
  <div class="extra-wrapper col-lg-6">
      <div class="col-lg-6 form-group">
        <label>search from</label>
        <input type="time" ng-model="oneWay.searchFrom"></input>
      </div>

      <div class="col-lg-6 form-group">
        <label>search to</label>
        <input type="time" ng-model="oneWay.searchTo"></input>
      </div>
    </div>
    <div class="preferred-wrapper col-lg-6">
    <div class="col-lg-6 form-group">
      <label>preffered from</label>
      <input type="time" ng-model="oneWay.prefferedFrom"></input>
    </div>
    
    <div class="col-lg-6 form-group">
      <label>preffered to</label>
      <input type="time" ng-model="oneWay.prefferedTo"></input>
    </div>
    
    </div>
  </div>

</form>
</div>




<div>
<div ng-show="extra==false" ng-click="showExtra()">
  show extra
</div>
<div ng-show ="extra == true" ng-click="hideExtra()">
  hide extra
</div>

</div>






<!--
<div id="flight-form-wrapper1">
<div class="row">
  <form name={{formName}}>
    <div class="col-lg-2 form-group">
      <label for="origin">Origin</label>
      <input class="form-control" type="text" id="origin" ng-model="oneWay.origin"></input>
    </div>

    <div class="col-lg-2 form-group">

      <label for="tra">Transportation</label>
      <select class="selectpicker form-control" id="tra" name="transportOrg"  ng-model="oneWay.transporation.transportOrg">
        <option value="taxi">Taxi</option>
        <option value="private">Private</option>
        <option value="rental">Rental</option>
        <option value="public">Public</option>
      </select>

    </div>

    <div class="col-lg-2 form-group">
      <label for="origin">Destination</label>
      <input class="form-control" type="text" ng-model="oneWay.destination"></input>
    </div>

    <div class="col-lg-2 form-group">

      <label for="transDes">Transportation</label>
      <select name="transportDes" class="selectpicker form-control" id="transDes" ng-model="oneWay.transporation.transportDes">
        <option value="taxi">Taxi</option>
        <option value="private">Private</option>
        <option value="rental">Rental</option>
        <option value="public">Public</option>
      </select>

    </div>

    <div class="col-lg-2 form-group">
      <label for="date">date</label>
      <input class="form-control" type="date" ng-model="oneWay.date"></input>
    </div>

    <div class="col-lg-2 form-group">

      <label >Arrive/Depart</label>
      <select name="arriveDepart" class="selectpicker form-control" id="transDes" ng-model="oneWay.arriveDepart">
        <option value="depart">Depart</option>
        <option value="arrive">Arrive</option>

      </select>
    </div>
    
  </div>

  <div class="row" ng-show="extra == true">
    <div class="extra">
      <div class="extra-wrapper">
        <div class="col-lg-3 form-group">
          <label>search from</label>
          <input type="time" ng-model="oneWay.searchFrom"></input>
        </div>

        <div class="col-lg-3 form-group">
          <label>search to</label>
          <input type="time" ng-model="oneWay.searchTo"></input>
        </div>
      </div>
      <div class="extra-wrapper">
        <div class="col-lg-3 form-group">
          <label>preffered from</label>
          <input type="time" ng-model="oneWay.prefferedFrom"></input>
        </div>

        <div class="col-lg-3 form-group">
          <label>preffered to</label>
          <input type="time" ng-model="oneWay.prefferedTo"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 form-group">
          <label >no. stops</label>
          <select name="noStops" class="selectpicker form-control" ng-model="oneWay.noStops">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>

          </select>

        </div>

        <div class="col-lg-2 form-group">
          <label >min. stops</label>
          <select name="minStop" class="selectpicker form-control" ng-model="oneWay.minStop">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>

          </select>

        </div>

        <div class="col-lg-2 form-group">
          <label >max. stops</label>
          <select name="maxStop" class="selectpicker form-control" ng-model="oneWay.maxStop">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>

          </select>

        </div>
      </form>

    </div> 
  </div>





  <div>
<div ng-show="extra==false" ng-click="showExtra()">
  show extra
</div>
<div ng-show ="extra == true" ng-click="hideExtra()">
  hide extra
</div>
<button type="button" ng-click="sendForm()">Send</button>
</div> -->