<div class="row btn-group" style="
    background-color: rgba(107,107,107,0.54)">
    <ul class="nav nav-pills">
        <li id="roundTripFlight" role="presentation"><a ng-href="#/flight/roundTrip">Round Trip</a></li>
        <li id="oneWay" role="presentation"><a ng-href="#/flight/oneWayFlight">One Way</a></li>
        <li id="multiple" role="presentation"><a ng-href="#/flight/multipleFlights">Multi Cities</a></li>
    </ul>
</div>
<div class="flight-form-wrapper">

    <form name="oneWay">

        <div class="row">
            <div class="col-lg-2 form-group">
                <label for="origin">Origin</label>
                <input class="form-control" type="text" id="origin" ng-model="oneWay.origin">

            </div>
            <div class="col-lg-2 form-group">
                <label for="tra">Transportation</label>
                <select class="selectpicker form-control" id="tra" name="transportOrg" ng-model="oneWay.transportOrg">
                    <option value="taxi">Taxi</option>
                    <option value="private" ng-selected="Private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="origin">Destination</label>
                <input class="form-control" type="text" ng-model="oneWay.destination"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label for="transDes">Transportation</label>
                <select name="transportDes" class="selectpicker form-control" id="transDes"
                        ng-model="oneWay.transportDes">
                    <option value="taxi">Taxi</option>
                    <option value="private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="date">date</label>
                <input class="form-control" type="date" ng-model="oneWay.date"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label>Arrive/Depart</label>
                <select name="arriveDepart" class="selectpicker form-control" id="transDes"
                        ng-model="oneWay.arriveDepart">
                    <option value="depart">Depart</option>
                    <option value="arrive">Arrive</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="extra==true">
            <div class="extra-wrapper">
                <div class="col-lg-2 form-group">
                    <label>search from</label>
                    <input type="text" class="form-control" ng-model="oneWay.searchFrom"></input>
                </div>
                <div class="col-lg-2 form-group">
                    <label>search to</label>
                    <input type="text" class="form-control" ng-model="oneWay.searchTo">
                </div>
                <div class="col-lg-2 form-group">
                    <label>header1</label>
                    <input type="text" class="form-control" ng-model="oneWay.header1">
                </div>

                <div class="col-lg-2 form-group">
                    <label>header2</label>
                    <input type="text" class="form-control" ng-model="oneWay.header2">
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label>preffered from</label>
                <input type="text" class="form-control" ng-model="oneWay.prefferedFrom">
            </div>

            <div class="col-lg-2 form-group">
                <label>preffered to</label>
                <input type="text" class="form-control" ng-model="oneWay.prefferedTo">
            </div>
            <div class="row">


                <div class="form-group col-lg-2">
                    <label for="sel1">No. stop:</label>
                    <select class="form-control" ng-model="oneWay.numStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Min.stop:</label>
                    <select class="form-control" ng-model="oneWay.minStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control" ng-model="oneWay.maxStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header3</label>
                    <select class="form-control" ng-model="oneWay.header3">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header4</label>
                    <select class="form-control" ng-model="oneWay.header4">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header5</label>
                    <select class="form-control" ng-model="oneWay.header5">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="showHideExtra">
            <div ng-show="extra==false" ng-click="showExtra()">
                More search options
            </div>
            <div ng-show="extra == true" ng-click="hideExtra()">
                Hide More search options
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2 form-group">
                <label for="flightClass">Class</label>
                <select class="form-control" ng-model="oneWay.class">
                    <option value="economy">Economy</option>
                    <option value="premEcon">Prem Econ</option>
                    <option value="business">Business</option>
                    <option value="first">First</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="adults">Adults</label>
                <input class="form-control" type="number" min="0"  id="adults" ng-model="oneWay.adults">
            </div>

            <div class="row" ng-show="extra1==true">
                <div class="extra-wrapper">

                    <div class="col-lg-2 form-group">
                        <label for="seniors">Seniors</label>
                        <input type="number" min="0" class=" form-control" ng-model="oneWay.seniors">

                        </input>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label for="kids">Kids</label>
                        <input type="number" min="0" class="form-control" ng-model="oneWay.kids">

                        </input>
                    </div>
                </div>
            </div>
            <div class="showHideExtra col-lg-12 form-group">
                <div ng-if="extra1==false" ng-click="showExtra1()">
                    show ticket options
                </div>
                <div ng-if="extra1 == true" ng-click="hideExtra1()">
                    Hide ticket options
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <md-button class="md-raised btn-primary btn-lg col-md-12 " ng-click="sendForm()">Send</md-button>
        </div>
    </form>

</div>
