<div class="row btn-group" style="
    background-color: rgba(107,107,107,0.54)">
    <ul class="nav nav-pills">
        <li id="roundTripFlight" role="presentation"><a ng-href="#/flight/roundTrip">Round Trip</a></li>
        <li id="oneWay" role="presentation"><a ng-href="#/flight/oneWayFlight">One Way</a></li>
        <li id="multiple" role="presentation"><a ng-href="#/flight/multipleFlights">Multi Cities</a></li>
    </ul>
</div>
<div class="flight-form-wrapper">

    <form name="firstLeg">

        <div class="row">
            <div class="col-lg-2 form-group">
                <label for="origin">Origin</label>
                <input class="form-control" type="text" id="origin" ng-model="firstLeg.origin"></input>

            </div>
            <div class="col-lg-2 form-group">
                <label for="tra">Transportation</label>
                <select class="selectpicker form-control" id="tra" name="transportOrg" ng-model="firstLeg.transportOrg">
                    <option value="taxi">Taxi</option>
                    <option value="private" ng-selected="Private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="origin">Destination</label>
                <input class="form-control" type="text" ng-model="firstLeg.destination"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label for="transDes">Transportation</label>
                <select name="transportDes" class="selectpicker form-control" id="transDes"
                        ng-model="firstLeg.transportDes">
                    <option value="taxi">Taxi</option>
                    <option value="private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="date">date</label>
                <input class="form-control" type="date" ng-model="firstLeg.date"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label>Arrive/Depart</label>
                <select name="arriveDepart" class="selectpicker form-control" id="transDes"
                        ng-model="firstLeg.arriveDepart">
                    <option value="depart">Depart</option>
                    <option value="arrive">Arrive</option>
                </select>
            </div>

        </div>
        <div class="row" ng-show="extra==true">
            <div class="extra-wrapper">
                <div class="col-lg-2 form-group">
                    <label>search from</label>
                    <input type="time" class="form-control" ng-model="firstLeg.searchFrom"></input>
                </div>
                <div class="col-lg-2 form-group">
                    <label>search to</label>
                    <input type="time" class="form-control" ng-model="firstLeg.searchTo"></input>
                </div>
                <div class="col-lg-2 form-group">
                    <label>header1</label>
                    <input type="time" class="form-control" ng-model="firstLeg.header1"></input>
                </div>

                <div class="col-lg-2 form-group">
                    <label>header2</label>
                    <input type="time" class="form-control" ng-model="firstLeg.header2"></input>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label>preffered from</label>
                <input type="time" class="form-control" ng-model="firstLeg.prefferedFrom"></input>
            </div>

            <div class="col-lg-2 form-group">
                <label>preffered to</label>
                <input type="time" class="form-control" ng-model="firstLeg.prefferedTo"></input>
            </div>
            <div class="row">


                <div class="form-group col-lg-2">
                    <label for="sel1">No. stop:</label>
                    <select class="form-control" ng-model="firstLeg.numStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Min.stop:</label>
                    <select class="form-control" ng-model="firstLeg.MinStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control" ng-model="firstLeg.MaxStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header3</label>
                    <select class="form-control" ng-model="firstLeg.header3">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header4</label>
                    <select class="form-control" ng-model="firstLeg.header4">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">header5</label>
                    <select class="form-control" ng-model="firstLeg.header5">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="showHideExtra">
            <div ng-show="extra==false" ng-click="showExtra()">
                More search options
            </div>
            <div ng-show="extra == true" ng-click="hideExtra()">
                Hide More search options
            </div>

        </div>
</div>


<div class="flight-form-wrapper">

    <form name="secondLeg">

        <div class="row">
            <div class="col-lg-2 form-group">
                <label for="origin">Origin</label>
                <input class="form-control" type="text" id="origin" ng-model="secondLeg.origin"></input>

            </div>
            <div class="col-lg-2 form-group">
                <label for="tra">Transportation</label>
                <select class="selectpicker form-control" id="tra" name="transportOrg"
                        ng-model="secondLeg.transportOrg">
                    <option value="taxi">Taxi</option>
                    <option value="private" ng-selected="Private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="origin">Destination</label>
                <input class="form-control" type="text" ng-model="secondLeg.destination"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label for="transDes">Transportation</label>
                <select name="transportDes" class="selectpicker form-control" id="transDes"
                        ng-model="secondLeg.transportDes">
                    <option value="taxi">Taxi</option>
                    <option value="private">Private</option>
                    <option value="rental">Rental</option>
                    <option value="public">Public</option>
                </select>
            </div>
            <div class="col-lg-2 form-group">
                <label for="date">date</label>
                <input class="form-control" type="date" ng-model="secondLeg.date"></input>
            </div>
            <div class="col-lg-2 form-group">
                <label>Arrive/Depart</label>
                <select name="arriveDepart" class="selectpicker form-control" id="transDes"
                        ng-model="secondLeg.arriveDepart">
                    <option value="depart">Depart</option>
                    <option value="arrive">Arrive</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="extra1==true">
            <div class="extra-wrapper">
                <div class="col-lg-2 form-group">
                    <label>search from</label>
                    <input type="time" class="form-control" ng-model="secondLeg.searchFrom"></input>
                </div>
                <div class="col-lg-2 form-group">
                    <label>search to</label>
                    <input type="time" class="form-control" ng-model="secondLeg.searchTo"></input>
                </div>
                <div class="col-lg-2 form-group">
                    <label>header1</label>
                    <input type="time" class="form-control" ng-model="secondLeg.header1"></input>
                </div>

                <div class="col-lg-2 form-group">
                    <label>header2</label>
                    <input type="time" class="form-control" ng-model="secondLeg.header2"></input>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label>preffered from</label>
                <input type="time" class="form-control" ng-model="secondLeg.prefferedFrom"></input>
            </div>

            <div class="col-lg-2 form-group">
                <label>preffered to</label>
                <input type="time" class="form-control" ng-model="secondLeg.prefferedTo"></input>
            </div>
            <div class="row">


                <div class="form-group col-lg-2">
                    <label for="sel1">No. stop:</label>
                    <select class="form-control" ng-model="secondLeg.numStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Min.stop:</label>
                    <select class="form-control" ng-model="secondLeg.MinStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control" ng-model="secondLeg.MaxStop">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="sel1">Max stop:</label>
                    <select class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2+">2+</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="showHideExtra">
            <div ng-show="extra1==false" ng-click="showExtra1()">
                More search options
            </div>
            <div ng-show="extra1 == true" ng-click="hideExtra1()">
                Hide More search options
            </div>

        </div>







    </form>

    <div class="col-lg-2 form-group">
        <label for="flightClass">Class</label>
        <select class="form-control" ng-model="roundTrip.class">
            <option value="economy">Economy</option>
            <option value="premEcon">Prem Econ</option>
            <option value="business">Business</option>
            <option value="first">First</option>
        </select>
    </div>

    <div class="col-lg-2 form-group">
        <label for="adults">Adults</label>
        <input type="number" min="0" class="form-control" ng-model="roundTrip.adults" >
    </div>

    <div class="row" ng-show="extra2==true">
        <div class="extra-wrapper">
            <div class="col-lg-2 form-group">
                <label for="seniors">Seniors</label>
                <input type="number" min="0" class="form-control" ng-model="roundTrip.seniors">
            </div>

            <div class="col-lg-2 form-group">
                <label for="kids">Kids</label>
                <input type="number" min="0" class="form-control" ng-model="roundTrip.kids">
            </div>
        </div>
    </div>
    <div class="showHideExtra col-lg-12 form-group" >
        <div ng-if="extra2==false" ng-click="showExtra2()">
            show ticket options
        </div>
        <div ng-if="extra2 == true" ng-click="hideExtra2()">
            Hide ticket options
        </div>

    </div>

    <div class="col-lg-12">
        <md-button  class="md-raised btn-primary btn-lg col-md-12 " ng-click="sendForm()">Send</md-button>
    </div>

</div>
