<form role="form">
    <div class="row">
        <div class="col-lg-4">
            <label for="company">Company Name: </label>
            <input type="text" class="form-control" id="company" ng-model="company">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="username">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model="email">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" ng-model="password">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="title">Title:</label>
            <select id="title" class="form-control">
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="mss">Mss</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="name">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" ng-model="lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"><label for="birthDate">Birth Date:</label>
            <input type="date" class="form-control" id="birthDate" ng-model="birthDate">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="type">Type:</label>
            <select id="type" class="form-control">
                <option value="adult">Adult</option>
                <option value="child">Child</option>
            </select>
            <!--<label for="type">Type:</label>-->
            <!--<select id="type" class="form-control"-->
            <!--ng-options="option.name for option in type.availableOptions track by option.id"-->
            <!--ng-model="type.selectedOption">-->

            <!--</select>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="ptc">PTC:</label>
            <select id="ptc" class="form-control">
                <option value="adt">ADT</option>
                <option value="yth">YTH</option>
                <option value="chd">CHD</option>
                <option value="sen">SEN</option>
                <option value="ins">INS</option>
                <option value="inf">INF</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="passport">Passport Number:</label>
            <input type="number" class="form-control" id="passport" ng-model="passport">
        </div>
    </div>
    <md-button class="md-raised btn-primary btn-lg col-md-12 " ng-click="sendForm()">Send</md-button>
</form>
