<div class="row">


    <!-- BACK BUTTON START -->
    <div>
        <md-button style="float:left;" aria-label="Close" class="md-fab md-default"
                   ng-click="goBackToMultipleFlights()">
            <i class="mdi-navigation-arrow-back" style="color:white; padding-top:16px; "></i>

        </md-button>

        <md-button id="seeChosenFlightsMdButton" class="btn-md btn-primary btn_top"
                   style="float:left; position:relative; left:20%" data-ng-click="seeChosenFlightsButton()">See Chosen
            Flights
        </md-button>

        <div class="row" ng-show="!showChosenFlights">
            <div style="float:left; position:absolute; right:0">
                <md-button aria-label="Close" class="md-fab md-default" ng-href="#/user_admin"><i
                        class="mdi-navigation-chevron-right"></i>
                </md-button>
                <div style=" text-align: center; ">back</div>

            </div>

        </div>
    </div>

</div>
<!-- BACK BUTTON END -->

<div class="allFlightsContainer">
    <!-- FILTERS START -->


    <!-- FILTERS END -->

    <!-- FLIGHTS START -->

    <div class="flights_con">
        <div >


            <!-- CHOSEN FLIGHTS START -->
            <div ng-show="showChosenFlights">
                <div class="chosenFlight flights_grid">
                    <div ng-repeat="flight in (allFilteredChosenFlights = (bestFlights  | chosenFlights))">


                        <flight-info flight="flight"></flight-info>

                    </div>


                </div>

                <div class="col-md-7">
                    <div class="row-centered">
                        <md-button href="#/hotels" class="md-raised btn-primary btn-lg flightButton">Go To Hotel
                            Page
                        </md-button>
                    </div>
                    <div class="row-centered">
                        <md-button href="#/finalOrder" class="md-raised btn-primary btn-lg flightButton">Go to Final
                            Order
                        </md-button>
                    </div>
                </div>
            </div>
            <!-- CHOSEN FLIGHTS END -->

            <!-- ALL FLIGHTS START -->
            <div class="allFlights" ng-show="!showChosenFlights">
                <!-- 3 BUTTONS -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="flights_upper_menu row">
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyBest()"
                                        class="btn btn-xs btn-info btn_top"> Cheapest
                                </button>

                            </div>
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyBest()"
                                        class="btn btn-xs btn-primary btn_top"> Best
                                </button>
                            </div>
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyShortest()"
                                        class="btn btn-xs btn-danger"> Shortest
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 BUTTONS -->


                <h3 ng-if="!loading">All flights: {{filteredData.length}} filtered results out of
                    {{total_results}}<br> Client has {{ bestFlights.length}} flights objects</h3>


                <div class="filterAndGrid">

                    <div class="filtersContainerOuter">

                        <div class="filterButton"  >

                            <div class="filterButtonContainer">
                                <button class="btn btn-xs btn-info btn_top centerButton"
                                        data-ng-click="filterTheValues()">Filters values
                                </button>
                            </div>


                            <div id="filters" class="filtersContainerInner">


                                <br>

                                <div>
                                    <div for="SortBySelect">Sort by</div>
                                    <select data-ng-model="sortingDataSelect" id="SortBySelect">
                                        <option value="price" selected="true">Price</option>
                                        <option value="FlightDuration">Flight Duration</option>
                                        <option value="FlightDriveDuration">Flight & Drive Duration</option>
                                        <option value="FlightDriveTrafDuration">Flight & Drive Traffic Duration</option>
                                        <option value="StopsNum">Number of Stops</option>
                                        <option value="StopsDuration">All Stops Duration</option>
                                    </select>
                                </div>

                                <br>

                                <div>
                                    <div for="DisplayLimitSelect">Display Limit</div>
                                    <select data-ng-model="displayLimitSelect" id="DisplayLimitSelect">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option selected="selected"  value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>

                                <br>

                                <hr class="hrInAllFlights">

                                <!--legsStopsFilters-->
                                <h4 class="text-center">Stops</h4>
                                <input id="enableLegsStopsFilters" type="checkbox"
                                       ng-true-value="false" ng-false-value="true"
                                       ng-click="enableCheckBoxFilters('legsStopsArrays',legsStopsFilter)"
                                       data-ng-model="legsStopsFilter.disabled">
                                <label for="enableLegsStopsFilters"> Enable filter</label>

                                <div ng-repeat="(key, value) in legsStopsArrays">
                                    <h5 class="text-center">Leg {{key}}</h5>


                                    <div ng-repeat="stopObj in value" >
                                        <input id="stopObjID{{::key}}{{::$index}}"
                                               ng-disabled="legsStopsFilter.disabled" type="checkbox"
                                               data-ng-model="stopObj.isChecked"
                                               ng-change="filterCheckBoxChanged(stopObj.isChecked)">
                                        <label for="stopObjID{{::key}}{{::$index}}">{{::stopObj.num}}<br></label>
                                    </div>
                                </div>

                                <hr class="hrInAllFlights">
                                <!--airlinesFilter-->
                                <div id="dropDownParent" class="drop-down">
                                    <div id="titleAirlines">Airlines</div>
                                    <div style="background-color: rgba(0, 0, 0, 0.19)">
                                        <input id="enableAirlinesFilters" type="checkbox"
                                               ng-true-value="false" ng-false-value="true"
                                               ng-click="enableAirlinesFilters()"
                                               data-ng-model="legsAirLinesFilter.disabled"
                                                >

                                        <label for="enableAirlinesFilters"> Enable filter</label></div>


                                    <div id="subTitleAirlines" onclick="clickedIsAirlinesDropDown('dropDownDiv')">Click here to
                                        expand ˅
                                    </div>
                                    <div id="dropDownDiv" class="dropdown-content">
                                        <div class="airline-checks">
                                            <input id="airline-checks-inputs1" ng-disabled="legsAirLinesFilter.disabled"
                                                   type="checkbox"
                                                   data-ng-model="selectedAll" ng-click="checkAll()">
                                            <label for="airline-checks-inputs1"><h5>check all</h5></label>
                                        </div>
                                        <div class="airline-checks" ng-repeat="airline in airlinesArray">
                                            <input id="airline-checks-input{{::$index}}"
                                                   ng-disabled="legsAirLinesFilter.disabled"
                                                   type="checkbox" data-ng-model="airline.Selected"
                                                    ng-change="filterCheckBoxChanged(airline.Selected)">
                                            <label for="airline-checks-input{{::$index}}">{{::airline.name}}</label>
                                        </div>
                                        <div id="bottomOfAirlines" class="airline-checks">

                                        </div>
                                    </div>
                                </div>

                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Departure airport</h4>

                                <input id="enableDepartureAirportsFilters" type="checkbox"
                                       ng-true-value="false" ng-false-value="true"
                                       ng-click="enableCheckBoxFilters('departureAirportsArrays', departureAirportsFilter)"
                                       data-ng-model="departureAirportsFilter.disabled">

                                <label for="enableDepartureAirportsFilters"> Enable filter</label>

                                <div ng-repeat="(key, value) in departureAirportsArrays">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <div ng-repeat="airport in value">
                                        <input id="inputForAirportIsCheckedDeparture{{::key}}{{::$index}}"
                                               ng-disabled="departureAirportsFilter.disabled" type="checkbox"
                                               data-ng-model="airport.isChecked"
                                                ng-change="filterCheckBoxChanged(airport.isChecked)">
                                        <label for="inputForAirportIsCheckedDeparture{{::key}}{{::$index}}">{{::airport.airportName}}
                                            -
                                            {{::airport.airportCode}}<br></label>
                                    </div>
                                </div>

                                <!--arrivalAirportFilters-->
                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Arrival airport</h4>

                                <input id="enableArrivalAirportsFilters" type="checkbox"
                                       ng-true-value="false" ng-false-value="true"
                                       ng-click="enableCheckBoxFilters('arrivalAirportsArrays', ArrivalAirportsFilters)"
                                       data-ng-model="ArrivalAirportsFilters.disabled">

                                <label for="enableArrivalAirportsFilters"> Enable filter</label>

                                <div ng-repeat="(key, value) in arrivalAirportsArrays">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <div ng-repeat="airport in value">
                                        <input id="inputForAirportIsCheckedArrival{{::key}}{{::$index}}"
                                               ng-disabled="ArrivalAirportsFilters.disabled" type="checkbox"
                                               data-ng-model="airport.isChecked"
                                                ng-change="filterCheckBoxChanged(airport.isChecked)">
                                        <label for="inputForAirportIsCheckedArrival{{::key}}{{::$index}}">{{::airport.airportName}}
                                            -
                                            {{::airport.airportCode}}<br></label>

                                    </div>
                                </div>

                                <hr class="hrInAllFlights">

                                <div id="dropDownParent2" class="drop-down">
                                    <div id="titleConnections">Connection airport</div>

                                    <div style="background-color: rgba(0, 0, 0, 0.19)">
                                        <input id="enableConnectionAirportsFilter" type="checkbox"
                                               ng-true-value="false" ng-false-value="true"
                                               ng-click="enableConnectionAirportsFilter()"
                                               data-ng-model="connectionAirportsFilter.disabled"
                                                >

                                        <label for="enableConnectionAirportsFilter"> Enable filter</label></div>


                                    <div id="subTitleConnections" onclick="clickedIsAirlinesDropDown('dropDownDiv2')">Click here
                                        to expand ˅
                                    </div>
                                    <div id="dropDownDiv2" class="dropdown-content">
                                        <div class="airline-checks">
                                            <input id="airline-checks-inputs2"
                                                   ng-disabled="connectionAirportsFilter.disabled"
                                                   type="checkbox" data-ng-model="selectedAll2" ng-click="checkAll2()">
                                            <label for="airline-checks-inputs2"><h5>check all</h5></label>
                                        </div>
                                        <div class="airline-checks"
                                             ng-repeat="(key, value) in connectionAirportsArrays">
                                            <h5 class="text-center">Leg {{::key}}</h5>
                                            <div ng-repeat="airport in value">
                                                <input id="inputForAirportIsCheckedConnection{{::key}}{{::$index}}"
                                                       ng-disabled="connectionAirportsFilter.disabled" type="checkbox"
                                                       data-ng-model="airport.isChecked"
                                                        ng-change="filterCheckBoxChanged(airport.isChecked)">
                                                <label for="inputForAirportIsCheckedConnection{{::key}}{{::$index}}">
                                                    {{::airport.airportName}} -
                                                    {{::airport.airportCode}}<br></label>
                                            </div>
                                        </div>
                                        <div id="bottomOfConnections" class="airline-checks">

                                        </div>
                                    </div>
                                </div>


                                <!--departureDate-->
                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Departure date</h4>

                                <input id="enableDepartureDatesFilter" type="checkbox"
                                       ng-true-value="false" ng-false-value="true"
                                       ng-click="enableCheckBoxFilters('departureDatesArrays', departureDatesFilter)"
                                       data-ng-model="departureDatesFilter.disabled">

                                <label for="enableDepartureDatesFilter"> Enable filter</label>

                                <div ng-repeat="(key, value) in departureDatesArrays">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <div ng-repeat="dateObj in value">
                                        <input id="inputForDepartureDate{{::key}}{{::$index}}"
                                               ng-disabled="departureDatesFilter.disabled"
                                               type="checkbox" data-ng-model="dateObj.Selected"
                                                ng-change="filterCheckBoxChanged(dateObj.Selected)">
                                        <label for="inputForDepartureDate{{::key}}{{::$index}}">{{::dateObj.date}}<br></label>
                                    </div>
                                </div>

                                <!--arrivalDate-->
                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Arrival date</h4>

                                <input id="enableArrivalDatesFilter" type="checkbox"
                                       ng-true-value="false" ng-false-value="true"
                                       ng-click="enableCheckBoxFilters('arrivalDatesArrays', ArrivalDatesFilter)"
                                       data-ng-model="ArrivalDatesFilter.disabled">

                                <label for="enableArrivalDatesFilter"> Enable filter</label>


                                <div ng-repeat="(key, value) in arrivalDatesArrays">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <div ng-repeat="dateObj in value">
                                        <input id="inputForArrivalDate{{::key}}{{::$index}}"
                                               ng-disabled="ArrivalDatesFilter.disabled"
                                               type="checkbox" data-ng-model="dateObj.Selected"
                                                ng-change="filterCheckBoxChanged(dateObj.Selected)">
                                        <label for="inputForArrivalDate{{::key}}{{::$index}}">{{::dateObj.date}}<br></label>
                                    </div>
                                </div>

                                <!--priceRangeSlider-->
                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Price</h4>

                                <input id="enablePriceFilterChkbox" type="checkbox" ng-true-value="false"
                                       ng-false-value="true"
                                       data-ng-model="priceRange.disabled" ng-click="enablePriceFilter()">
                                <label for="enablePriceFilterChkbox">Enable filter</label>

                                <div id="rangePriceSlider">
                                    <div   class="row-centered" range-slider
                                         min="priceRange.range.min"
                                         max="priceRange.range.max" disabled="priceRange.disabled"
                                         on-handle-up="applyClientFilters(priceRange)"
                                         model-min="priceRange.minPrice" model-max="priceRange.maxPrice" step="1"></div>
                                    <div class="pull-left">
                                        {{priceRange.minPrice | currency:"$":0}}
                                    </div>

                                    <div class="pull-right">
                                        {{priceRange.maxPrice | currency:"$":0}}
                                    </div>
                                </div>
                                <br>
                                <hr class="hrInAllFlights">


                                   <hr class="hrInAllFlights">
                                <h4 class="text-center">Departure time</h4>

                                     <div ng-repeat="(key, value) in departureLegsHrRange">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <input id="enableDepartureTime{{::key}}"  data-ng-model="value.disabled"
                                           ng-click="enableFilter('departureLegsHrRange',key, value, true)"
                                           type="checkbox" ng-true-value="false" ng-false-value="true">
                                    <label for="enableDepartureTime{{::key}}">Enable filter</label>

                                    <div  >
                                        <div  class="row-centered" range-slider
                                             min="0"
                                             max="1440"
                                             model-min="value.minTime"
                                              on-handle-up="applyClientFilters(value)"
                                             model-max="value.maxTime" step="1" disabled="value.disabled"></div>

                                        <div class="pull-left">

                                            {{convertMinutesToTimeString(value.minTime)}}
                                        </div>

                                        <div class="pull-right">

                                            {{convertMinutesToTimeString(value.maxTime)}}
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                 <hr class="hrInAllFlights">
                                <h4 class="text-center">Arrival time</h4>
                                 <div ng-repeat="(key, value) in arrivalLegsHrRange">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <input id="enableArrivalTime{{::key}}"   data-ng-model="value.disabled"
                                        ng-click="enableFilter('arrivalLegsHrRange',key, value, true)"
                                           type="checkbox" ng-true-value="false" ng-false-value="true">
                                    <label for="enableArrivalTime{{::key}}">Enable filter</label>

                                    <div  >
                                        <div  class="row-centered" range-slider
                                             min="value.range.min"
                                             max="value.range.max"
                                             model-min="value.minTime"
                                              on-handle-up="applyClientFilters(value)"
                                             model-max="value.maxTime" step="1" disabled="value.disabled"></div>

                                        <div class="pull-left">

                                            {{convertMinutesToTimeString(value.minTime)}}
                                        </div>

                                        <div class="pull-right">

                                            {{convertMinutesToTimeString(value.maxTime)}}
                                        </div>
                                    </div>
                                    <br>
                                </div>



                                <hr class="hrInAllFlights">
                                <h4 class="text-center">Durations</h4>

                                <!--flightDurationRangeSlider-->
                                <h5 class="text-center">Flight</h5>

                                <input id="enableFlightDurationFilterChkbox" type="checkbox" ng-true-value="false"
                                       ng-false-value="true"
                                       data-ng-model="flightDurationRange.disabled" ng-click="enableDurationFilter()">
                                <label for="enableFlightDurationFilterChkbox">Enable filter</label>

                                <div id="flightDurationRangeSlider">
                                    <div class="row-centered" range-slider min="flightDurationRange.range.min"
                                         max="flightDurationRange.range.max" disabled="flightDurationRange.disabled"
                                         model-min="flightDurationRange.minDuration"
                                         model-max="flightDurationRange.maxDuration"
                                         on-handle-up="applyClientFilters(flightDurationRange)"
                                         step="1"></div>
                                    <div class="pull-left">
                                        {{convertMinutesToTimeString(flightDurationRange.minDuration)}} hr
                                    </div>

                                    <div class="pull-right">
                                        {{convertMinutesToTimeString(flightDurationRange.maxDuration)}} hr
                                    </div>
                                    <br>
                                </div>

                                <!--flightDriveDurationRangeSlider-->
                                <h5 class="text-center">Flight & Drive</h5>

                                <input id="enableFlightAndDriveDurationFilterChkbox" type="checkbox"
                                       ng-true-value="false"
                                       ng-false-value="true" data-ng-model="flightDriveDurationRange.disabled"
                                       ng-click="enableFlightAndDriveDurationFilter()">
                                <label for="enableFlightAndDriveDurationFilterChkbox">Enable filter</label>

                                <div id="flightDriveDurationRangeSlider">
                                    <div class="row-centered" range-slider min="flightDriveDurationRange.range.min"
                                         max="flightDriveDurationRange.range.max"
                                         disabled="flightDriveDurationRange.disabled"
                                         model-min="flightDriveDurationRange.minDuration"
                                         model-max="flightDriveDurationRange.maxDuration"
                                         on-handle-up="applyClientFilters(flightDriveDurationRange)"
                                         step="1"></div>
                                    <div class="pull-left">
                                        {{convertMinutesToTimeString(flightDriveDurationRange.minDuration)}} hr
                                    </div>

                                    <div class="pull-right">
                                        {{convertMinutesToTimeString(flightDriveDurationRange.maxDuration)}} hr
                                    </div>
                                    <br>
                                </div>

                                <!--flightDriveTrafficDurationRangeSlider-->
                                <h5 class="text-center">Flight & Drive with Traffic</h5>
                                <input id="enableFlightAndDriveWTrafficFilterChkbox" type="checkbox"
                                       ng-true-value="false"
                                       ng-false-value="true" data-ng-model="flightDriveTrafficDurationRange.disabled"
                                       ng-click="enableFlightDriveTrafficDurationRangeFilter()">
                                <label for="enableFlightAndDriveWTrafficFilterChkbox">Enable filter</label>

                                <div id="flightDriveTrafficDurationRangeSlider">
                                    <div class="row-centered" range-slider
                                         min="flightDriveTrafficDurationRange.range.min"
                                         max="flightDriveTrafficDurationRange.range.max"
                                         disabled="flightDriveTrafficDurationRange.disabled"
                                         model-min="flightDriveTrafficDurationRange.minDuration"
                                         model-max="flightDriveTrafficDurationRange.maxDuration"
                                           on-handle-up="applyClientFilters(flightDriveTrafficDurationRange)"
                                         step="1"></div>
                                    <div class="pull-left">
                                        {{convertMinutesToTimeString(flightDriveTrafficDurationRange.minDuration)}} hr
                                    </div>

                                    <div class="pull-right">
                                        {{convertMinutesToTimeString(flightDriveTrafficDurationRange.maxDuration)}} hr
                                    </div>
                                    <br>
                                </div>

                                <!--legsDurationsRangeSlider-->
                                <div ng-repeat="(key, value) in legsDurations">
                                    <h5 class="text-center">Leg {{::key}}</h5>
                                    <input id="enableLegDuration{{::key}}" data-ng-model="value.disabled"
                                           ng-click="enableFilter('legDurationsSlider',key, value)"
                                           type="checkbox" ng-true-value="false" ng-false-value="true">
                                    <label for="enableLegDuration{{::key}}">Enable filter</label>

                                    <div class="legDurationsSliderDiv" id="legDurationRangeSlider">
                                        <div id="indexIs{{::key}}" class="row-centered" range-slider
                                             min="value.range.min"
                                             max="value.range.max"
                                             model-min="value.minDuration"
                                                on-handle-up="applyClientFilters(value)"
                                             model-max="value.maxDuration" step="1" disabled="value.disabled"></div>

                                        <div class="pull-left">
                                            {{convertMinutesToTimeString(value.minDuration)}} hr
                                        </div>

                                        <div class="pull-right">
                                            {{convertMinutesToTimeString(value.maxDuration)}} hr
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <!--<h5 class="text-center">Flight & drive with traffic</h5>-->
                                <!--&lt;!&ndash;legsDurationsWithTrafficRangeSlider&ndash;&gt;-->
                                <!--<div ng-repeat="(key, value) in legsDurationsWithTraffic">-->
                                <!--<h5 class="text-center">Leg {{::key}}</h5>-->

                                <!--<div class="legDurationsWithTrafficSliderDiv" id="legDurationWithTrafficRangeSlider">-->
                                <!--<div id="indexAb{{::key}}" class="row-centered" range-slider min="value.range.min"-->
                                <!--max="value.range.max"-->
                                <!--model-min="value.minDuration"-->
                                <!--model-max="value.maxDuration" step="1"></div>-->
                                <!--<div class="pull-left">-->
                                <!--{{::getDurationHours(value.minDuration)}}:-->
                                <!--{{::getDurationMinits(value.minDuration)}} hr-->
                                <!--</div>-->

                                <!--<div class="pull-right">-->
                                <!--{{::getDurationHours(value.maxDuration)}}:-->
                                <!--{{::getDurationMinits(value.maxDuration)}} hr-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<br>-->
                                <!--</div>-->

                                <!--legsDepartureDriveRangeSlider-->
                                <div ng-if="legsDepartureDriveDurations[1].minDuration >= 0">
                                    <hr class="hrInAllFlights">

                                    <h4 class="text-center">Departure drive duration</h4>

                                    <div ng-repeat="(key, value) in legsDepartureDriveDurations">
                                        <h5 class="text-center">Leg {{::key}}</h5>
                                        <input id="enableLegDepartureDriveDurationFilter{{::key}}"
                                               data-ng-model="value.disabled"
                                               ng-click="enableFilter('departureLegsDriveTimeSlider',key, value)"
                                               type="checkbox" ng-true-value="false" ng-false-value="true">
                                        <label for="enableLegDepartureDriveDurationFilter{{::key}}">Enable
                                            filter</label>
                                        <div class="departureDriveTimeDivs" id="legsDepartureDriveRangeSlider">
                                            <div id="indexIt{{::key}}" class="row-centered" range-slider
                                                 min="value.range.min"
                                                 max="value.range.max" disabled="value.disabled"
                                                 model-min="value.minDuration"
                                                 model-max="value.maxDuration" step="1"></div>
                                            <div class="pull-left">
                                                {{convertMinutesToTimeString(value.minDuration)}} hr
                                            </div>

                                            <div class="pull-right">
                                                {{convertMinutesToTimeString(value.maxDuration)}} hr
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <!--legsArrivalDriveRangeSlider-->

                                <div ng-if="legsArrivalDriveDurations[1].minDuration >= 0">
                                    <hr class="hrInAllFlights">
                                    <h4 class="text-center">Arrival drive duration</h4>

                                    <div ng-repeat="(key, value) in legsArrivalDriveDurations">
                                        <h5 class="text-center">Leg {{::key}}</h5>

                                        <input id="enableLegArrivalDriveDurationsFilter{{::key}}"
                                               data-ng-model="value.disabled"
                                               ng-click="enableFilter('arrivalLegsDriveTimeSlider',key, value)"
                                               type="checkbox" ng-true-value="false" ng-false-value="true">
                                        <label for="enableLegArrivalDriveDurationsFilter{{::key}}">Enable filter</label>

                                        <div class="arrivalDriveTimeDivs" id="legsArrivalDriveRangeSlider">
                                            <div id="indexKs{{::key}}" disabled="value.disabled" class="row-centered"
                                                 range-slider
                                                 min="value.range.min"
                                                 max="value.range.max"
                                                 model-min="value.minDuration"
                                                 model-max="value.maxDuration" step="1"></div>
                                            <div class="pull-left">
                                                {{convertMinutesToTimeString(value.minDuration)}} hr
                                            </div>

                                            <div class="pull-right">
                                                {{convertMinutesToTimeString(value.maxDuration)}} hr
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div ng-if="legsDepartureDriveTrafficDurations[1].minDuration >= 0">
                                    <hr class="hrInAllFlights">
                                    <h4 class="text-center">Departure drive with traffic</h4>

                                    <div ng-repeat="(key, value) in legsDepartureDriveTrafficDurations">
                                        <h5 class="text-center">Leg {{::key}}</h5>

                                        <input id="enableDepartureDriveTrafficDurationsFilter{{::key}}"
                                               data-ng-model="value.disabled"
                                               ng-click="enableFilter('departureLegsDriveTrafficTimeSlider',key, value)"
                                               type="checkbox" ng-true-value="false" ng-false-value="true">
                                        <label for="enableDepartureDriveTrafficDurationsFilter{{::key}}">Enable
                                            filter</label>

                                        <div class="departureDriveTrafficTimeDivs"
                                             id="legsDepartureDriveTrafficRangeSlider">
                                            <div id="indexAc{{::key}}" disabled="value.disabled" class="row-centered"
                                                 range-slider
                                                 min="value.range.min"
                                                 max="value.range.max"
                                                 model-min="value.minDuration"
                                                 model-max="value.maxDuration" step="1"></div>
                                            <div class="pull-left">
                                                {{convertMinutesToTimeString(value.minDuration)}} hr
                                            </div>

                                            <div class="pull-right">
                                                {{convertMinutesToTimeString(value.maxDuration)}} hr
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div ng-if="legsArrivalDriveTrafficDurations[1].minDuration >= 0">
                                    Arrival drive with traffic{{legsArrivalDriveTrafficDurations[1].minDuration}}
                                    <hr class="hrInAllFlights">
                                    <h4 class="text-center">Arrival drive with traffic</h4>

                                    <div ng-repeat="(key, value) in legsArrivalDriveTrafficDurations">
                                        <h5 class="text-center">Leg {{::key}}</h5>

                                        <input id="enableLegArrivalDriveTrafficDurationsFilter{{::key}}"
                                               data-ng-model="value.disabled"
                                               ng-click="enableFilter('arrivalLegsDriveTrafficTimeSlider',key, value)"
                                               type="checkbox" ng-true-value="false" ng-false-value="true">
                                        <label for="enableLegArrivalDriveTrafficDurationsFilter{{::key}}">Enable
                                            filter</label>

                                        <div class="arrivalDriveTrafficTimeDivs"
                                             id="legsArrivalDriveTrafficRangeSlider">
                                            <div id="indexAh{{::key}}" disabled="value.disabled" class="row-centered"
                                                 range-slider
                                                 min="value.range.min"
                                                 max="value.range.max"
                                                 model-min="value.minDuration"
                                                 model-max="value.maxDuration" step="1"></div>
                                            <div class="pull-left">
                                                {{convertMinutesToTimeString(value.minDuration)}} hr
                                            </div>

                                            <div class="pull-right">
                                                {{convertMinutesToTimeString(value.maxDuration)}} hr
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                      <md-progress-linear ng-if="loading">


                        </md-progress-linear>
                    <div ng-if="!loading" class="flights_grid">



                        <div ng-repeat="flight in  filteredData | limitTo:displayLimitSelect">


                            <div ng-show="showBest" style="height: 100%">

                                <flight-info chosen-flights="chosenFlights" flight="flight"></flight-info>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- ALL FLIGHTS END -->

            <!-- FILE RADIO BUTTON START -->
            <md-radio-group ng-if="false" ng-model="chosenFile">
                <md-radio-button ng-repeat="file in files" ng-value="file" aria-label="{{:: file }}">
                    {{:: file }}
                </md-radio-button>
            </md-radio-group>
            <!-- FILE RADIO BUTTON END-->
        </div>


    </div>
    <!-- FLIGHTS END -->
</div>
</div>

