<div>
    Online checkin URL: {{checkInURL}} <br>
    Booking status: {{bookingStatus}} <br>
    Time limit: {{timeLimit}} <br>
    Timestamp: {{timeStamp}} <br>
    Confirmation number: {{checkInURL}} <br>
    Reservation ID: {{resID}}

    <!-- PASSENGERS START -->
    <div ng-repeat="passenger in bookingDetails.data.passengers" ng-if="$index % 4 == 0" class="row">
        <div class="col-md-3">
            <div class="row flight_css">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Detail</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Value</h4>
                        </div>
                    </div>

                    <div ng-repeat="detailName in passengerDisplayDetails" class="leg_css"> <!-- Was class="leg_css" -->
                        <div class="row">

                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{passengerDisplayDetailsFixed[$index]}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{bookingDetails.data.passengers[$parent.$index][detailName]}}<br>
                                </strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-if="bookingDetails.data.passengers.length > ($index + 1)">
            <div class="row flight_css">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Detail</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Value</h4>
                        </div>
                    </div>

                    <div ng-repeat="detailName in passengerDisplayDetails" class="leg_css"> <!-- Was class="leg_css" -->
                        <div class="row">

                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{passengerDisplayDetailsFixed[$index]}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{bookingDetails.data.passengers[($parent.$index+1)][detailName]}}<br>
                                </strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-if="bookingDetails.data.passengers.length > ($index + 2)">
            <div class="row flight_css">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Detail</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Value</h4>
                        </div>
                    </div>

                    <div ng-repeat="detailName in passengerDisplayDetails" class="leg_css"> <!-- Was class="leg_css" -->
                        <div class="row">

                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{passengerDisplayDetailsFixed[$index]}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{bookingDetails.data.passengers[($parent.$index+2)][detailName]}}<br>
                                </strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-if="bookingDetails.data.passengers.length > ($index + 3)">
            <div class="row flight_css">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Detail</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Value</h4>
                        </div>
                    </div>

                    <div ng-repeat="detailName in passengerDisplayDetails" class="leg_css"> <!-- Was class="leg_css" -->
                        <div class="row">

                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{passengerDisplayDetailsFixed[$index]}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{bookingDetails.data.passengers[($parent.$index+3)][detailName]}}<br>
                                </strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PASSENGERS END -->

    <!-- FLIGHTS START -->
    <div ng-repeat="flight in bookingDetails.data.flights" ng-if="$index % 3 == 0" class="row">

        <!-- LEFT START -->
        <div class="col-md-4">
            <div class="row flight_css">
                <div class="col-md-12">
                    <!-- PRICE, FLIGHT INFO, V/X START -->
                    <div class="row price_css">
                        <div class="col-md-5 more_info_header_col">
                            <div class="flight_price_css">
                                {{bookingDetails.data.flights[$index].price}} {{bookingDetails.data.flights[$index].currency}}
                            </div>
                        </div>
                        <div class="col-md-4 more_info_col">
                            <button class="btn btn-xs btn-default btn_more_info"
                                    ng-click="setCurrentFlight(bookingDetails.data.flights[$index])"
                                    data-toggle="modal" data-target="#יcheapsetModal"> flight info
                            </button>
                        </div>
                        <div class="col-md-3">
                            <md-button aria-label="Close" class="md-fab select_flight_btn" ng-class="bookingDetails.data.flights[$index].selected? 'md-warn':'md-primary'"
                                       ng-click="cancelBooking(bookingDetails.data.bookings_data[$index]['ns1:Reservation']['@ReservationID'])" >
                                <i class="flight_select_icon" ng-class="bookingDetails.data.flights[$index].selected? 'mdi-content-clear': 'mdi-action-done'"></i>
                            </md-button>
                        </div>
                    </div>
                    <!-- PRICE, FLIGHT INFO, V/X END -->

                    <!-- DEPARTURE/ARRIVAL START -->
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Departure</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Arrival</h4>
                        </div>
                    </div>
                    <!-- DEPARTURE/ARRIVAL END -->

                    <!-- DETAILS START -->
                    <div ng-repeat="leg in bookingDetails.data.flights[$index].legs" class="leg_css">
                        <div class="row">
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.origin.airport_code}}-{{leg.origin.state}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.destination.airport_code}}-{{leg.destination.state}}<br>
                                </strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.origin.date}}</strong> at
                                    <strong>{{leg.origin.time}}</strong>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.destination.date}}</strong> at
                                    <strong>{{leg.destination.time}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row flight_duration_row">
                            Duration : <strong><span>{{getDurationHours(leg.duration)}}: </span><span> {{getDurationMinits(leg.duration)}} hr</span></strong>
                        </div>
                        <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                            Stop {{$index+1}} :
                            <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                        </div>
                        <div class="row flight_duration_row">
                            Airlines: <strong ng-repeat="airline in leg.airlines"><span ng-if="$index==0">{{airline}}</span><span ng-if="$index!=0">, {{airline}}</span></strong>
                        </div>

                        <div ng-if="bookingDetails.data.bookings_data[$index]['ns1:Reservation']['ns1:Services']['ns1:AirService']['@Status']=='XX'">
                            Status: <span style="color:red" ><b>CANCELLED</b></span> </div>
                        <div icon-fix
                             hours-origin="getDurationHours(leg.origin.drive_time)"
                             minutes-origin="getDurationMinits(leg.origin.drive_time)"
                             hours-destination="getDurationHours(leg.destination.drive_time)"
                             minutes-destination="getDurationMinits(leg.destination.drive_time)"
                             class="row">
                            <div class="col-md-6 no_padding_col origin">

                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/originDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_dep">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time_traf)}}:
                                            {{getDurationMinits(leg.origin.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col destination">
                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/destinationDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_arr">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time_traf)}}:
                                            {{getDurationMinits(leg.destination.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->
                </div>
            </div>
        </div>
        <!-- LEFT END -->

        <!-- MIDDLE START -->
        <div class="col-md-4" ng-if="bookingDetails.data.flights.length > ($index + 1)">
            <div class="row flight_css">
                <div class="col-md-12">
                    <!-- PRICE, FLIGHT INFO, V/X START -->
                    <div class="row price_css">
                        <div class="col-md-5 more_info_header_col">
                            <div class="flight_price_css">
                                {{bookingDetails.data.flights[($index + 1)].price}} {{bookingDetails.data.flights[($index + 1)].currency}}
                            </div>
                        </div>
                        <div class="col-md-4 more_info_col">
                            <button class="btn btn-xs btn-default btn_more_info"
                                    ng-click="setCurrentFlight(bookingDetails.data.flights[($index + 1)])"
                                    data-toggle="modal" data-target="#יcheapsetModal"> flight info
                            </button>
                        </div>
                        <div class="col-md-3">
                            <md-button aria-label="Close"  class="md-fab select_flight_btn" ng-class="bookingDetails.data.flights[($index + 1)].selected? 'md-warn':'md-primary'"
                                       ng-click="cancelBooking(bookingDetails.data.bookings_data[$index+1]['ns1:Reservation']['@ReservationID'])" >
                                <i class="flight_select_icon" ng-class="bookingDetails.data.flights[($index + 1)].selected? 'mdi-content-clear': 'mdi-action-done'"></i>
                            </md-button>
                        </div>
                    </div>
                    <!-- PRICE, FLIGHT INFO, V/X END -->
                    <!-- DEPARTURE/ARRIVAL START -->
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Departure</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Arrival</h4>
                        </div>
                    </div>
                    <!-- DEPARTURE/ARRIVAL END -->
                    <!-- DETAILS START -->
                    <div ng-repeat="leg in bookingDetails.data.flights[($index + 1)].legs" class="leg_css">
                        <div class="row">
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.origin.airport_code}}-{{leg.origin.state}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.destination.airport_code}}-{{leg.destination.state}}<br>
                                </strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.origin.date}}</strong> at
                                    <strong>{{leg.origin.time}}</strong>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.destination.date}}</strong> at
                                    <strong>{{leg.destination.time}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row flight_duration_row">
                            Duration : <strong><span>{{getDurationHours(leg.duration)}}: </span><span> {{getDurationMinits(leg.duration)}} hr</span></strong>
                        </div>
                        <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                            Stop {{$index+1}} :
                            <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                        </div>
                        <div class="row flight_duration_row">
                            Airlines: <strong ng-repeat="airline in leg.airlines"><span ng-if="$index==0">{{airline}}</span><span ng-if="$index!=0">, {{airline}}</span></strong>
                            <div ng-if="bookingDetails.data.bookings_data[$index+1]['ns1:Reservation']['ns1:Services']['ns1:AirService']['@Status']=='XX'">
                            Status: <span style="color:red" ><b>CANCELLED</b></span> </div>
                        </div>
                        <div icon-fix
                             hours-origin="getDurationHours(leg.origin.drive_time)"
                             minutes-origin="getDurationMinits(leg.origin.drive_time)"
                             hours-destination="getDurationHours(leg.destination.drive_time)"
                             minutes-destination="getDurationMinits(leg.destination.drive_time)"
                             class="row">
                            <div class="col-md-6 no_padding_col origin">
                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/originDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_dep">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time_traf)}}:
                                            {{getDurationMinits(leg.origin.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col destination">
                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/destinationDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_arr">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time_traf)}}:
                                            {{getDurationMinits(leg.destination.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->
                </div>
            </div>
        </div>
        <!-- MIDDLE END -->

        <!-- RIGHT START -->
        <div class="col-md-4" ng-if="bookingDetails.data.flights.length > ($index + 2)">
            <div class="row flight_css">
                <div class="col-md-12">
                    <!-- PRICE, FLIGHT INFO, V/X START -->
                    <div class="row price_css">
                        <div class="col-md-5 more_info_header_col">
                            <div class="flight_price_css">
                                {{bookingDetails.data.flights[($index + 2)].price}} {{bookingDetails.data.flights[($index + 2)].currency}}
                            </div>
                        </div>
                        <div class="col-md-4 more_info_col">
                            <button class="btn btn-xs btn-default btn_more_info"
                                    ng-click="setCurrentFlight(bookingDetails.data.flights[($index + 2)])"
                                    data-toggle="modal" data-target="#יcheapsetModal"> flight info
                            </button>
                        </div>
                        <div class="col-md-3">
                            <md-button aria-label="Close"  class="md-fab select_flight_btn" ng-class="bookingDetails.data.flights[($index + 2)].selected? 'md-warn':'md-primary'"
                                       ng-click="cancelBooking(bookingDetails.data.bookings_data[$index+2]['ns1:Reservation']['@ReservationID'])" >
                                <i class="flight_select_icon" ng-class="bookingDetails.data.flights[($index + 2)].selected? 'mdi-content-clear': 'mdi-action-done'"></i>
                            </md-button>
                        </div>
                    </div>
                    <!-- PRICE, FLIGHT INFO, V/X END -->

                    <!-- DEPARTURE/ARRIVAL START -->
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="header">Departure</h4>
                        </div>
                        <div class="col-md-6 ">
                            <h4 class="header">Arrival</h4>
                        </div>
                    </div>
                    <!-- DEPARTURE/ARRIVAL END -->

                    <!-- DETAILS START -->
                    <div ng-repeat="leg in bookingDetails.data.flights[($index + 2)].legs" class="leg_css">
                        <div class="row">
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.origin.airport_code}}-{{leg.origin.state}} <br>
                                </strong></div>
                            <div class="col-md-6 state_col no_padding_col">
                                <strong>
                                    {{leg.destination.airport_code}}-{{leg.destination.state}}<br>
                                </strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.origin.date}}</strong> at
                                    <strong>{{leg.origin.time}}</strong>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col">
                                <div class="row info_row">
                                    <strong>{{leg.destination.date}}</strong> at
                                    <strong>{{leg.destination.time}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row flight_duration_row">
                            Duration : <strong><span>{{getDurationHours(leg.duration)}}: </span><span> {{getDurationMinits(leg.duration)}} hr</span></strong>
                        </div>
                        <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                            Stop {{$index+1}} :
                            <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                        </div>
                        <div class="row flight_duration_row">
                            Airlines: <strong ng-repeat="airline in leg.airlines"><span ng-if="$index==0">{{airline}}</span><span ng-if="$index!=0">, {{airline}}</span></strong>
                            <div ng-if="bookingDetails.data.bookings_data[$index+2]['ns1:Reservation']['ns1:Services']['ns1:AirService']['@Status']=='XX'">
                            Status: <span style="color:red" ><b>CANCELLED</b></span> </div>
                        </div>
                        <div icon-fix
                             hours-origin="getDurationHours(leg.origin.drive_time)"
                             minutes-origin="getDurationMinits(leg.origin.drive_time)"
                             hours-destination="getDurationHours(leg.destination.drive_time)"
                             minutes-destination="getDurationMinits(leg.destination.drive_time)"
                             class="row">
                            <div class="col-md-6 no_padding_col origin">
                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/originDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_dep">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.origin.drive_time_traf)}}:
                                            {{getDurationMinits(leg.origin.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 no_padding_col destination">
                                <div class="row flight_icon_con">
                                    <div class="col-md-3 icon_col">
                                        <i ns-popover
                                           ns-popover-template="views/ngPopTemplates/destinationDrivePopover.html"
                                           ns-popover-trigger="click"
                                           ns-popover-placement="bottom" class="mdi-maps-local-taxi flight_icon_arr">
                                        </i>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                    </div>
                                    <div class="col-md-9 flight_icon_text">
                                        <p>{{getDurationHours(leg.destination.drive_time_traf)}}:
                                            {{getDurationMinits(leg.destination.drive_time_traf)}} hr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->
                </div>
            </div>
        </div>
        <!-- RIGHT END -->
    </div>
    <!-- FLIGHTS END -->

    <div ng-repeat="rules in bookingDetails.data.fare_rules"  class="row">

            <h3>Fare rules for type {{rules[0]['ns1:FareRules']['ns1:PTC']}}</h3><br>
            <div ng-repeat="category in rules[0]['ns1:FareRules']['ns1:Rules']['ns1:Category']">

                <b>{{category["@Name"]}}</b><br>
                    {{category["#text"]}}<br>
                 <br>
            <div ng-repeat="rule in category['ns1:Category']" class="row">

                 <b>{{rule["@Name"]}}</b><br>
                    {{rule["#text"]}}<br>
                 <br>
    </div>
    </div>
    </div>
        </div>

</div>

rules <pre>{{bookingDetails.data |json}}</pre>