<div class="row">
    <div class="col-md-2">
        <span class="textalign_center dash_span">allFlights </span>
        <a href="#/allFlights" class="btn btn-info btn-fab btn-raised mdi-maps-local-airport dashboard_btn"></a>
        <!--filters-->
        <div id="filters">

            <!--legsStopsFilters-->
            <h4 class="text-center">Stops</h4>

            <div ng-repeat="(key, value) in legsStopsArrays">
                <h5 class="text-center">Leg {{key}}</h5>
                <lable ng-repeat="stopObj in value"><input type="checkbox" data-ng-model="stopObj.isChecked">
                    {{stopObj.num}}<br></lable>
            </div>
            <hr>
            <!--airlinesFilter-->
            <div class="drop-down">
                <input type="checkbox" id="checkbox-toggle">
                <label for="checkbox-toggle"><h4 class="text-center"> Airlines</h4>Click here to expand</label>
                <ul>
                    <li class="airline-checks"><h5><input type="checkbox" ng-model="selectedAll"
                                                          ng-init="selectedAll=true" ng-click="checkAll()"> check all
                    </h5></li>
                    <li class="airline-checks" ng-repeat="airline in airlinesArray"><input type="checkbox"
                                                                                           data-ng-model="airline.Selected">
                        {{airline.name}}
                    </li>
                </ul>
            </div>
            <hr>
            <h4 class="text-center">Departure airport</h4>

            <div ng-repeat="(key, value) in departureAirportsArrays">
                <h5 class="text-center">Leg {{key}}</h5>
                <lable ng-repeat="airport in value"><input type="checkbox" data-ng-model="airport.isChecked">
                    {{airport.airportName}}<br></lable>
            </div>

            <!--arrivalAirportFilters-->
            <hr>
            <h4 class="text-center">Arrival airport</h4>

            <div ng-repeat="(key, value) in arrivalAirportsArrays">
                <h5 class="text-center">Leg {{key}}</h5>
                <lable ng-repeat="airport in value"><input type="checkbox" data-ng-model="airport.isChecked">
                    {{airport.airportName}}<br></lable>
            </div>

            <!--departureDate-->
            <hr>
            <h4 class="text-center">Departure date</h4>

            <div ng-repeat="(key, value) in departureDatesArrays">
                <h5 class="text-center">Leg {{key}}</h5>
                <lable ng-repeat="dateObj in value"><input type="checkbox" data-ng-model="dateObj.Selected">
                    {{dateObj.date}}<br></lable>
            </div>

            <!--arrivalDate-->
            <hr>
            <h4 class="text-center">Arrival date</h4>

            <div ng-repeat="(key, value) in arrivalDatesArrays">
                <h5 class="text-center">Leg {{key}}</h5>
                <lable ng-repeat="dateObj in value"><input type="checkbox" data-ng-model="dateObj.Selected">
                    {{dateObj.date}}<br></lable>
            </div>

            <!--priceRangeSlider-->
            <hr>
            <h4 class="text-center">Price</h4>

            <div id="rangePriceSlider">
                <div ng-mouseup="updateHotelsByPrice()" class="row-centered" range-slider min="priceRange.range.min"
                     max="priceRange.range.max"
                     model-min="priceRange.minPrice" model-max="priceRange.maxPrice" step="1"></div>
                <div class="pull-left">
                    {{priceRange.minPrice | currency:"$":0}}
                </div>

                <div class="pull-right">
                    {{priceRange.maxPrice | currency:"$":0}}
                </div>
            </div>
            <br>
            <hr>
            <h4 class="text-center">Durations</h4>
            <!--flightDurationRangeSlider-->
            <h5 class="text-center">Flight</h5>

            <div id="flightDurationRangeSlider">
                <div class="row-centered" range-slider min="flightDurationRange.range.min"
                     max="flightDurationRange.range.max"
                     model-min="flightDurationRange.minDuration" model-max="flightDurationRange.maxDuration"
                     step="1"></div>
                <div class="pull-left">
                    {{getDurationHours(flightDurationRange.minDuration)}}:
                    {{getDurationMinits(flightDurationRange.minDuration)}} hr
                </div>

                <div class="pull-right">
                    {{getDurationHours(flightDurationRange.maxDuration)}}:
                    {{getDurationMinits(flightDurationRange.maxDuration)}} hr
                </div>
                <br>
            </div>
            <!--flightDriveDurationRangeSlider-->
            <h5 class="text-center">Flight & drive</h5>

            <div id="flightDriveDurationRangeSlider">
                <div class="row-centered" range-slider min="flightDriveDurationRange.range.min"
                     max="flightDriveDurationRange.range.max"
                     model-min="flightDriveDurationRange.minDuration" model-max="flightDriveDurationRange.maxDuration"
                     step="1"></div>
                <div class="pull-left">
                    {{getDurationHours(flightDriveDurationRange.minDuration)}}:
                    {{getDurationMinits(flightDriveDurationRange.minDuration)}} hr
                </div>

                <div class="pull-right">
                    {{getDurationHours(flightDriveDurationRange.maxDuration)}}:
                    {{getDurationMinits(flightDriveDurationRange.maxDuration)}} hr
                </div>
                <br>
            </div>
            <!--legsDurationsRangeSlider-->
            <div ng-repeat="(key, value) in legsDurations">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="legDurationRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minDuration"
                         model-max="value.maxDuration" step="1"></div>
                    <div class="pull-left">
                        {{getDurationHours(value.minDuration)}}:
                        {{getDurationMinits(value.minDuration)}} hr
                    </div>

                    <div class="pull-right">
                        {{getDurationHours(value.maxDuration)}}:
                        {{getDurationMinits(value.maxDuration)}} hr
                    </div>
                </div>
                <br>
            </div>
            <!--legsDriveRangeSlider-->
            <hr>
            <h4 class="text-center">Departure drive duration</h4>

            <div ng-repeat="(key, value) in legsDepartureDriveDurations">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="legsDepartureDriveRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minDuration"
                         model-max="value.maxDuration" step="1"></div>
                    <div class="pull-left">
                        {{getDurationHours(value.minDuration)}}:
                        {{getDurationMinits(value.minDuration)}} hr
                    </div>

                    <div class="pull-right">
                        {{getDurationHours(value.maxDuration)}}:
                        {{getDurationMinits(value.maxDuration)}} hr
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <h4 class="text-center">Arrival drive duration</h4>

            <div ng-repeat="(key, value) in legsArrivalDriveDurations">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="legsArrivalDriveRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minDuration"
                         model-max="value.maxDuration" step="1"></div>
                    <div class="pull-left">
                        {{getDurationHours(value.minDuration)}}:
                        {{getDurationMinits(value.minDuration)}} hr
                    </div>

                    <div class="pull-right">
                        {{getDurationHours(value.maxDuration)}}:
                        {{getDurationMinits(value.maxDuration)}} hr
                    </div>
                </div>
                <br>
            </div>
            <!--arrivalTimesRangeSlider-->
            <!--<h4 class="text-center">arrival Times</h4>-->

            <!--<div id="arrivalTimesRangeSlider">-->
            <!--<div class="row-centered" range-slider min="arrivalTimeRange.range.min"-->
            <!--max="arrivalTimeRange.range.max"-->
            <!--model-min="arrivalTimeRange.minTime" model-max="arrivalTimeRange.maxTime"-->
            <!--step="1"></div>-->
            <!--<div class="pull-left">-->
            <!--{{arrivalTimeRange.minTime | date:'EEE H:mm'}}-->
            <!--</div>-->

            <!--<div class="pull-right">-->
            <!--{{arrivalTimeRange.maxTime | date:'EEE H:mm'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--arrivalLegsTimesRangeSlider-->
            <hr>
            <h4 class="text-center">Arrivals times range</h4>

            <div ng-repeat="(key, value) in arrivalLegsTimeRange">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="arrivalLegsTimesRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minTime" model-max="value.maxTime"
                         step="1"></div>
                    <div class="pull-left">
                        {{value.minTime | date:'EEE H:mm'}}
                    </div>

                    <div class="pull-right">
                        {{value.maxTime | date:'EEE H:mm'}}
                    </div>
                </div>
                <br>
            </div>
            <!--departureLegsTimesRangeSlider-->
            <hr>
            <h4 class="text-center">Departures times range</h4>

            <div ng-repeat="(key, value) in departureLegsTimeRange">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="departureLegsTimesRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minTime" model-max="value.maxTime"
                         step="1"></div>
                    <div class="pull-left">
                        {{value.minTime | date:'EEE H:mm'}}
                    </div>

                    <div class="pull-right">
                        {{value.maxTime | date:'EEE H:mm'}}
                    </div>
                </div>
                <br>
            </div>
            <!--arrivalHrRangeSlider-->
            <h4 class="text-center">Arrivals hour</h4>

            <div ng-repeat="(key, value) in arrivalLegsHrRange">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="arrivalLegsHrRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minTime" model-max="value.maxTime"
                         step="1"></div>
                    <div class="pull-left">
                        {{value.minTime | date:'H:mm'}}
                    </div>
                    <div class="pull-right">
                        {{value.maxTime | date:'H:mm'}}
                    </div>
                </div>
                <br>
            </div>
            <!--departureHrRangeSlider-->
            <h4 class="text-center">Departure hour</h4>

            <div ng-repeat="(key, value) in departureLegsHrRange">
                <h5 class="text-center">Leg {{key}}</h5>

                <div id="departureLegsHrRangeSlider">
                    <div class="row-centered" range-slider min="value.range.min"
                         max="value.range.max"
                         model-min="value.minTime" model-max="value.maxTime"
                         step="1"></div>
                    <div class="pull-left">
                        {{value.minTime | date:'H:mm'}}
                    </div>
                    <div class="pull-right">
                        {{value.maxTime | date:'H:mm'}}
                    </div>
                </div>
                <br>
            </div>
            <!--&lt;!&ndash;departureTimesRangeSlider&ndash;&gt;-->
            <!--<h4 class="text-center">departure Times</h4>-->

            <!--<div id="departureTimesRangeSlider">-->
            <!--<div class="row-centered" range-slider min="departureTimeRange.range.min"-->
            <!--max="departureTimeRange.range.max"-->
            <!--model-min="departureTimeRange.minTime" model-max="departureTimeRange.maxTime"-->
            <!--step="1"></div>-->
            <!--<div class="pull-left">-->
            <!--{{departureTimeRange.minTime | date:'EEE H:mm'}}-->
            <!--</div>-->
            <!--<div class="pull-right">-->
            <!--{{departureTimeRange.maxTime | date:'EEE H:mm'}}-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <!--filters end-->
    </div>
    <div class="col-md-10">
        <div class="flights_con">

            <div class="row" ng-show="!isFlightChosen">
                <div class="col-md-1 col-md-offset-11 textalign_center">
                    <md-button class="md-fab md-default" ng-href="#/user_admin"><i
                            class="mdi-navigation-chevron-right"></i>
                    </md-button>
                    <span>back</span>
                </div>
            </div>

            <div class="chosenFlight row" ng-show="isFlightChosen">
                <div class="col-md-5 flight_css">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" id="price_css">
                                <div class="col-md-5">
                                    <div class="flight_price_css">
                                        {{chosenFlight.price}}{{chosenFlight.currency}}
                                    </div>
                                </div>
                                <div class="col-md-4 more_info_col">
                                    <button class="btn btn-xs btn-default btn_more_info"
                                            ng-click="setCurrentFlight(chosenFlight)"
                                            data-toggle="modal" data-target="#יcheapsetModal"> flight info
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <md-button class="md-fab md-warn select_flight_btn"
                                               ng-click="cancelFlight()">
                                        <i class="mdi-content-clear flight_select_icon"></i>
                                    </md-button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <h4 class="header">Departure</h4>
                                </div>
                                <div class="col-md-6 ">
                                    <h4 class="header">Arrival</h4>
                                </div>
                            </div>
                            <div ng-repeat="leg in chosenFlight.legs" id="leg_css">
                                <div class="row">
                                    <div class="col-md-6 state_col no_padding_col">
                                        <strong>{{leg.origin.airport_code}}-{{leg.origin.state}}</strong>
                                    </div>
                                    <div class="col-md-6 state_col no_padding_col">
                                        <strong>{{leg.destination.airport_code}}-{{leg.destination.state}}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 no_padding_col">
                                        <div class="row info_row">
                                            <strong>{{leg.origin.date}}</strong> at
                                            <strong>{{leg.origin.time}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-6 no_padding_col">
                                        <div class="row info_row">
                                            <strong>{{leg.destination.date}}</strong> at
                                            <strong>{{leg.destination.time}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="flight_duration_row">
                                    Duration : <strong><span>{{getDurationHours(leg.duration)}}</span><span>: {{getDurationMinits(leg.duration)}} hr</span></strong>
                                    <!--changed to hr convention /tal-->
                                </div>
                                <div class="row">
                                    <div class="col-md-6 no_padding_col">

                                        <div class="row" id="flight_icon_con">
                                            <div class="col-md-3 icon_col">
                                                <i ns-popover
                                                   ns-popover-template="origin_drive_popover"
                                                   ns-popover-trigger="click"
                                                   ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                   id="flight_icon_dep">
                                                </i>
                                            </div>
                                            <div class="col-md-9 flight_icon_text">
                                                <p>
                                                    {{getDurationHours(leg.origin.drive_time)}}:
                                                    {{getDurationMinits(leg.origin.drive_time)}} hr
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 no_padding_col">


                                        <div class="row" id="flight_icon_con">
                                            <div class="col-md-3 icon_col">
                                                <i ns-popover
                                                   ns-popover-template="dest_drive_popover"
                                                   ns-popover-trigger="click"
                                                   ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                   id="flight_icon_arr">
                                                </i>
                                            </div>
                                            <div class="col-md-9 flight_icon_text">
                                                <p>
                                                    {{getDurationHours(leg.destination.drive_time)}}:
                                                    {{getDurationMinits(leg.destination.drive_time)}} hr
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <script type="text/ng-template" id="duration_popover">

                                    <div id="popover_box_css">
                                        flight duration off entire <br>flight is approximately {{leg.duration}}
                                    </div>

                                </script>

                                <script type="text/ng-template" id="origin_drive_popover">

                                    <div id="popover_box_css">
                                        Driving time to the <br>airport is approximately
                                        {{getDurationHours(leg.origin.drive_time)}}:
                                        {{getDurationMinits(leg.origin.drive_time)}} hr
                                    </div>

                                </script>

                                <script type="text/ng-template" id="dest_drive_popover">

                                    <div id="popover_box_css">
                                        Driving time from the<br> airport is approximately
                                        {{getDurationHours(leg.destination.drive_time)}}:
                                        {{getDurationMinits(leg.destination.drive_time)}} hr
                                    </div>

                                </script>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row-centered">
                        <md-button href="#/hotels" class="md-raised btn-primary btn-lg flightButton">Go To Hotel
                            Page
                        </md-button>
                    </div>
                    <div class="row-centered">
                        <md-button href="#/finalOrder" class="md-raised btn-primary btn-lg flightButton">Go to Final
                            Order
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="allFlights" ng-show="!isFlightChosen">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="flights_upper_menu row">
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyCheap()"
                                        class="btn btn-xs btn-info btn_top"> Cheapest
                                </button>

                            </div>
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyBest()"
                                        class="btn btn-xs btn-primary btn_top"> Best
                                </button>
                            </div>
                            <div class="col-md-4 btn_top_con">
                                <button ng-click="showOnlyShortest()"
                                        class="btn btn-xs btn-danger"> Shortest
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">


                </div>


                <h3 ng-show="showCheapest" class="textalign_center">Cheapest</h3>

                <div class="row">
                    <div ng-show="showCheapest" class="col-md-4"
                         ng-repeat="flight in cheapestFlights | departureLegsTime:departureLegsTimeRange | departureAirport:departureAirportsArrays| departureLegsHr: departureLegsHrRange
                         | arrivalAirport:arrivalAirportsArrays | arrivalLegsTime:arrivalLegsTimeRange | legDuration:legsDurations | legsStops:legsStopsArrays
                         | departureDriveDurations : legsDepartureDriveDurations | arrivalDriveDurations : legsArrivalDriveDurations
                         | flightDriveDuration: flightDriveDurationRange | flightDuration: flightDurationRange | airlines: airlinesArray| arrivalLegsHr: arrivalLegsHrRange
                         | minFlightPrice:priceRange.minPrice | maxFlightPrice:priceRange.maxPrice| departureDates : departureDatesArrays | arrivalDates : arrivalDatesArrays">
                        <div class="row flight_css">
                            <div>
                                <div class="row" id="price_css">
                                    <div class="col-md-5 more_info_header_col">
                                        <div class="flight_price_css">
                                            {{flight.price}} {{flight.currency}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 more_info_col ">
                                        <button class="btn btn-xs btn-default btn_more_info "
                                                ng-click="setCurrentFlight(flight)"
                                                data-toggle="modal" data-target="#יcheapsetModal"> flight info
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <div>
                                            <md-button class="md-fab md-primary select_flight_btn"
                                                       ng-click="chooseFlight(flight)">
                                                <i class="mdi-action-done flight_select_icon"></i>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4 class="header">Departure</h4>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4 class="header">Arrival</h4>
                                    </div>
                                </div>
                                <div ng-repeat="leg in flight.legs" id="leg_css">
                                    <div class="row">
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.origin.airport_code}}-{{leg.origin.state}} </br>
                                            </strong>
                                        </div>
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.destination.airport_code}}-{{leg.destination.state}}</br>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.origin.date}}</strong> at
                                                <strong>{{leg.origin.time}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.destination.date}}</strong> at
                                                <strong>{{leg.destination.time}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="flight_duration_row">

                                        Duration : <strong><span>{{getDurationHours(leg.duration)}}</span><span>: {{getDurationMinits(leg.duration)}} hr</span></strong>
                                        <!--changed to hr convention /tal-->

                                    </div>
                                    <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                                        Stop {{$index+1}} :
                                        <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">

                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="origin_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_dep">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.origin.drive_time)}}:
                                                        {{getDurationMinits(leg.origin.drive_time)}} hr</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">


                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="dest_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_arr">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.destination.drive_time)}}:
                                                        {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row stops_row">-->
                                    <!--<div class="col-md-3 no_padding_col">-->
                                    <!--<strong>Stops:</strong>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 stop_span" ng-repeat="stop in leg.stops">-->
                                    <!--<span>{{stop}}</span>-->
                                    <!--</div>-->
                                    <!--</div>-->


                                    <script type="text/ng-template" id="duration_popover">

                                        <div id="popover_box_css">
                                            flight duration off entire <br>flight is approximately {{leg.duration}}
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="origin_drive_popover">

                                        <div id="popover_box_css">
                                            Driving time to the <br>airport is approximately
                                            {{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="dest_drive_popover">

                                        <div id="popover_box_css">
                                            Driving time from the<br> airport is approximately
                                            {{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr
                                        </div>

                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 ng-show="showBest" class="textalign_center">Best</h3>

                <div class="row">
                    <div ng-show="showBest" class="col-md-4"
                         ng-repeat="flight in bestFlights | departureLegsTime:departureLegsTimeRange | departureAirport:departureAirportsArrays| departureLegsHr: departureLegsHrRange
                         | arrivalAirport:arrivalAirportsArrays | arrivalLegsTime:arrivalLegsTimeRange | legDuration:legsDurations | legsStops:legsStopsArrays
                         | departureDriveDurations : legsDepartureDriveDurations | arrivalDriveDurations : legsArrivalDriveDurations
                         | flightDriveDuration: flightDriveDurationRange | flightDuration: flightDurationRange | airlines: airlinesArray| arrivalLegsHr: arrivalLegsHrRange
                         | minFlightPrice:priceRange.minPrice | maxFlightPrice:priceRange.maxPrice| departureDates : departureDatesArrays | arrivalDates : arrivalDatesArrays">
                        <div class="row flight_css">
                            <div class="col-md-12" id="info_con_{{$index}}">
                                <div class="row" id="price_css">
                                    <div class="col-md-5 more_info_header_col">
                                        <div class="flight_price_css">
                                            {{flight.price}} {{flight.currency}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 more_info_col">
                                        <button class="btn btn-xs btn-default btn_more_info"
                                                ng-click="setCurrentFlight(flight)"
                                                data-toggle="modal" data-target="#יcheapsetModal"> flight info
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <md-button class="md-fab md-primary select_flight_btn"
                                                   ng-click="chooseFlight(flight)">
                                            <i class="mdi-action-done flight_select_icon"></i>
                                        </md-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4 class="header">Departure</h4>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4 class="header">Arrival</h4>
                                    </div>
                                </div>
                                <div ng-repeat="leg in flight.legs" id="leg_css">
                                    <div class="row">
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.origin.airport_code}}-{{leg.origin.state}}
                                            </strong></div>
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.destination.airport_code}}-{{leg.destination.state}}</br>
                                            </strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.origin.date}}</strong> at
                                                <strong>{{leg.origin.time}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.destination.date}}</strong> at
                                                <strong>{{leg.destination.time}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="flight_duration_row">

                                        Duration : <strong><span>{{getDurationHours(leg.duration)}}: </span><span> {{getDurationMinits(leg.duration)}} hr</span></strong>
                                        <!--changed to hr convention /tal-->
                                    </div>
                                    <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                                        Stop {{$index+1}} :
                                        <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">

                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="origin_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_dep">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.origin.drive_time)}}:
                                                        {{getDurationMinits(leg.origin.drive_time)}} hr</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">


                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="dest_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_arr">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.destination.drive_time)}}:
                                                        {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <script type="text/ng-template" id="duration_popover">

                                        <div id="popover_box_css">
                                            flight duration off entire <br>flight is approximately {{leg.duration}}
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="origin_drive_popover">

                                        <div id="popover_box_css">
                                            Driving time to the <br>airport is approximately
                                            {{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr}
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="dest_drive_popover">

                                        <div id="popover_box_css">
                                            Driving time from the<br> airport is approximately
                                            {{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr
                                        </div>

                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 ng-show="showShortest" class="textalign_center">Shortest</h3>

                <div class="row">
                    <div ng-show="showShortest" class="col-md-4"
                         ng-repeat="flight in shortestFlights | departureLegsTime:departureLegsTimeRange | departureAirport:departureAirportsArrays| departureLegsHr: departureLegsHrRange
                         | arrivalAirport:arrivalAirportsArrays | arrivalLegsTime:arrivalLegsTimeRange | legDuration:legsDurations | legsStops:legsStopsArrays
                         |departureDriveDurations : legsDepartureDriveDurations | arrivalDriveDurations : legsArrivalDriveDurations
                         |  flightDriveDuration: flightDriveDurationRange | flightDuration: flightDurationRange | airlines: airlinesArray| arrivalLegsHr: arrivalLegsHrRange
                         | minFlightPrice:priceRange.minPrice | maxFlightPrice:priceRange.maxPrice| departureDates : departureDatesArrays | arrivalDates : arrivalDatesArrays">
                        <div class="row flight_css">
                            <div class="col-md-12" id="info_con_{{$index}}">
                                <div class="row" id="price_css">
                                    <div class="col-md-5 more_info_header_col">
                                        <div class="flight_price_css">
                                            {{flight.price}} {{flight.currency}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 more_info_col">
                                        <button class="btn btn-xs btn-default btn_more_info"
                                                ng-click="setCurrentFlight(flight)"
                                                data-toggle="modal" data-target="#יcheapsetModal"> flight info
                                        </button>
                                    </div>
                                    <div class="col-md-3">

                                        <md-button class="md-fab md-primary select_flight_btn"
                                                   ng-click="chooseFlight(flight)">
                                            <i class="mdi-action-done flight_select_icon"></i>
                                        </md-button>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4 class="header">Departure</h4>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4 class="header">Arrival</h4>
                                    </div>
                                </div>
                                <div ng-repeat="leg in flight.legs" id="leg_css">
                                    <div class="row">
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.origin.airport_code}}-{{leg.origin.state}}
                                            </strong>
                                        </div>
                                        <div class="col-md-6 state_col no_padding_col">
                                            <strong>
                                                {{leg.destination.airport_code}}-{{leg.destination.state}}</br>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.origin.date}}</strong> at
                                                <strong>{{leg.origin.time}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">
                                            <div class="row info_row">
                                                <strong>{{leg.destination.date}}</strong> at
                                                <strong>{{leg.destination.time}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="flight_duration_row">

                                        Duration : <strong><span>{{getDurationHours(leg.duration)}}: </span><span> {{getDurationMinits(leg.duration)}} hr</span></strong>
                                        <!--changed to hr convention /tal-->

                                    </div>

                                    <div ng-repeat="directFlight in leg.direct_flights" ng-if="!($last)">
                                        Stop {{$index+1}} :
                                        <strong><span>{{directFlight.arrival_airport_code}} - {{getDurationHours(directFlight.stop_length)}}:</span><span> {{getDurationMinits(directFlight.stop_length)}} hr</span></strong>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 no_padding_col">

                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="origin_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_dep">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.origin.drive_time)}}:
                                                        {{getDurationMinits(leg.origin.drive_time)}} hr</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no_padding_col">


                                            <div class="row" id="flight_icon_con">
                                                <div class="col-md-3 icon_col">
                                                    <i ns-popover
                                                       ns-popover-template="dest_drive_popover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-placement="bottom" class="mdi-maps-local-taxi"
                                                       id="flight_icon_arr">
                                                    </i>
                                                </div>
                                                <div class="col-md-9 flight_icon_text">
                                                    <p>{{getDurationHours(leg.destination.drive_time)}}:
                                                        {{getDurationMinits(leg.destination.drive_time)}} hr</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <script type="text/ng-template" id="duration_popover">

                                        <div class="popover_box_css">
                                            flight duration off entire flight is approximately {{leg.duration}}
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="origin_drive_popover">

                                        <div class="popover_box_css">
                                            Driving time to the airport is approximately
                                            {{getDurationHours(leg.origin.drive_time)}}:
                                            {{getDurationMinits(leg.origin.drive_time)}} hr
                                        </div>

                                    </script>

                                    <script type="text/ng-template" id="dest_drive_popover">

                                        <div class="popover_box_css">
                                            Driving time from the airport is approximately
                                            {{getDurationHours(leg.destination.drive_time)}}:
                                            {{getDurationMinits(leg.destination.drive_time)}} hr
                                        </div>

                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--choose json file radio buttons-->
            <md-radio-group ng-model="chosenFile">
                <md-radio-button ng-repeat="file in files" ng-value="file" aria-label="{{ file }}">
                    {{ file }}
                </md-radio-button>
            </md-radio-group>
            <!--end of choose json file radio button-->
        </div>


        <div id="יcheapsetModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 id="flight_modal_header">Flight course information</h2>
                            </div>
                            <div class="col-md-4 flight_modal_price">
                                {{currentModalFlight.price}}{{currentModalFlight.currency}}
                            </div>
                        </div>

                    </div>

                    <div class="modal-body">

                        <div ng-repeat="leg in currentModalFlight.legs">
                            <!--add ng-init to save $last for inside repeat /tal-->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Airlines</th>
                                    <th>Flight</th>
                                    <th>Departure</th>
                                    <th>Arrival</th>
                                    <th>Druration</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span class="directflight_small_header">{{leg.origin.state}} - {{leg.destination.state}}</span>
                                <tr ng-repeat="flight in leg.direct_flights">
                                    <td>
                                        {{flight.airline}}
                                    </td>
                                    <td>
                                        {{flight.departure_airport_city}} - {{flight.arrival_airport_city}}
                                    </td>
                                    <td>
                                        <strong>{{flight.departure_airport}}</strong> <br> {{flight.departure_date}}
                                        <br>
                                        {{flight.departure_time}}
                                    </td>
                                    <td>
                                        <strong>{{flight.arrival_airport}}</strong> <br> {{flight.arrival_date}}
                                        <br>
                                        {{flight.arrival_time}}
                                    </td>
                                    <td>
                                        <span>{{getDurationHours(flight.flight_duration)}}:</span><span> {{getDurationMinits(flight.flight_duration)}} hr</span>
                                        <!--changed to hr convention /tal-->
                                        <br>
                                        <span ng-if="!($last)"> <!--add layover only if it isn't last direct flight/tal-->
                                            <strong>layover:</strong> <br>
                                            <span>{{flight.arrival_airport_city}} - {{getDurationHours(flight.stop_length)}}:</span><span> {{getDurationMinits(flight.stop_length)}} hr</span>

                                        </span>
                                    </td>
                                    <td>
                                        {{flight.details.meal}} <br>
                                        {{flight.details.class}}
                                    </td>
                                </tr>

                                </tbody>

                            </table>
                        </div>


                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button type="button" ng-model="myVar" ng-init="myVar = false" ng-click="myVar = !myVar">Filters values</button>
    <div ng-if="myVar">

        <div ng-repeat=" (leg, extremePoints) in arrivalLegsTimeRange">
            <div ng-repeat="(extremePoint, value) in extremePoints" ng-if="!$first">
                <span> arrivalLegsTimeRange- leg{{leg}}- {{extremePoint}}: {{value}}</span>
            </div>
        </div>
        <div ng-repeat=" (leg, extremePoints) in departureLegsTimeRange">
            <div ng-repeat="(extremePoint, value) in extremePoints" ng-if="!$first">
                <span> departureLegsTimeRange- leg{{leg}}- {{extremePoint}}: {{value}}</span>
            </div>
        </div>
        <div ng-repeat=" (leg, extremePoints) in legsDurations">
            <div ng-repeat="(extremePoint, value) in extremePoints" ng-if="!$first">
                <span> legsDurations- leg{{leg}}- {{extremePoint}}: {{value}}</span>
            </div>
        </div>
        <div>flightDriveDurationRange- max: {{flightDriveDurationRange.maxDuration}}</div>
        <div>flightDriveDurationRange- min: {{flightDriveDurationRange.minDuration}}</div>
        <div>flightDurationRange- max: {{flightDurationRange.maxDuration}}</div>
        <div>flightDurationRange- min: {{flightDurationRange.minDuration}}</div>
        <div>priceRange- max: {{priceRange.maxPrice}}</div>
        <div>priceRange- min: {{priceRange.minPrice}}</div>
        <div ng-repeat="(key, value) in legsStopsArrays">
            <div ng-repeat="stopObj in value">
                Leg{{key}}- Number of stops -{{stopObj.num}}: {{stopObj.isChecked}}
            </div>
        </div>
        <div ng-repeat="airline in airlinesArray">
            airline-{{airline.name}}: {{airline.Selected}}
        </div>
        <div ng-repeat="(key, value) in departureAirportsArrays">
            <div ng-repeat="airport in value">departureAirports- Leg {{key}}- {{airport.airportName}}:
                {{airport.isChecked}}
            </div>
        </div>
        <div ng-repeat="(key, value) in arrivalAirportsArrays">
            <div ng-repeat="airport in value">arrivalAirports- Leg {{key}}- {{airport.airportName}}:
                {{airport.isChecked}}
            </div>
        </div>

    </div>
</div>
