
	<div class="col-md-4">
	<h4>Flight Details</h4>
		<div class="row ltr" id="form_row_section">
			<div class="row">
				<div class="col-md-7 no_padding">
					<md-input-container>
			          <label class="form_label">Origin</label>
			          <input 
			          	name="{{inputNames.originName}}"
			          	 ng-model="ngModel.origin"
			          	 md-placeholer="Origin Address"
			          	 required
			          	 >
			        </md-input-container>
					<div class="validation-messages" 
					ng-messages="formName[inputNames.originName].$error">
	        		<div ng-message="required"> field required.</div>
	      			</div>
					
				</div>
				<div class="col-md-5 trans_col">
					<md-input-container>
						<md-select 
							aria-label="label"
							ng-model="ngModel.orig_trans"
							placeholder="Private">
							<md-option>
								Public
							</md-option>
							<md-option>
								Private
							</md-option>
							<md-option>
								Taxi
							</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-7 no_padding">
					<md-input-container >
			          <label class="form_label">Destination</label>
			          <input required
			          	name="{{inputNames.destName}}"
			          	 ng-model="ngModel.dest"
			          	 md-placeholer="Destination"
			          	 required>
			        </md-input-container>
			       <div class="validation-messages" 
					ng-messages="formName[inputNames.destName].$error">
	        		<div ng-message="required"> field required.</div>
	      			</div>
		      	</div>
		      	<div class="col-md-5 trans_col">
		      		<md-input-container>
						<md-select 
							aria-label="label"
							ng-model="ngModel.dest_trans"
							placeholder="Private">
							<md-option>
								Public
							</md-option>
							<md-option>
								Private
							</md-option>
							<md-option>
								Taxi
							</md-option>
						</md-select>
					</md-input-container>
		      	</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<md-input-container>
					 <label class="form_label">Max stops</label>
						 <input 
							 aria-label="test"
							 type="number"
							 min="0"
							 max="3"
							 name="{{inputNames.maxStopsName}}"
							 ng-model="ngModel.maxStops"
							 required>
					</md-input-container>
				</div>
				<div class="col-md-6">
					<md-input-container>
					 <label class="form_label">Cabbin</label>
						<md-select 
							aria-label="label"
							ng-model="ngModel.cabbin"
							name="{{inputNames.cabbinName}}"
							required>
							<md-option>
								Economy
							</md-option>
							<md-option>
								Business
							</md-option>
							<md-option>
								Primium
							</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
		</div>
	</div>

	

	<div class="col-md-4">
	<h4>First Date</h4>
		<div class="row" id="form_row_section">
			<div class="row ltr">
				<div class="col-md-7 date_col no_padding">
				  	<md-datepicker 
						name="{{inputNames.firstDateName}}" 
				  		 ng-model="ngModel.firstDate"
				  		 md-placeholder="date"
				  		 required
				  		 >
					</md-datepicker>
					<div class="validation-messages datePickerError" 
						ng-messages="formName[inputNames.firstDateName].$error">
						<div ng-message="required">field required</div>
					</div>
				</div>

				<div class="col-md-5 depArr_col">	
					<md-input-container>
					
					<md-select 
							aria-label="label"
					 		ng-model="ngModel.firstDepArr"
					 		name="{{inputNames.firstDepArrName}}"
					 		placeholder="Departure"
				       		required>
				        <md-option 
				            value="departure">
				         	Departure
				        </md-option>

				        <md-option 
				            value="arrival">
				         	Arrival
				        </md-option>
				    </md-select>
					</md-input-container>
					 <div class="validation-messages date_valid_css" 
					 		ng-messages="formName[inputNames.firstDepArrName].$error">
						<div ng-message="required">field required.</div>
					</div>
				</div>
			</div>
			<div class="row mini_form_row ltr">
				<div class="col-md-6 no_padding">
					<div class="row ">
						<div class="col-md-6 no_padding textalign_center">
							<md-input-container class="select_inputcon">
							<span>from</span>
							  <input required
							  aria-label="test"
							  		type="number"
						          	 name="{{inputNames.firstSearchStartName}}"
						          	 ng-model="ngModel.SearchStartHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 reuired>
							</md-input-container>
		 					
		 					<div class="validation-messages" 
		 							ng-messages="formName[inputNames.firstSearchStartName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
						
						<div class="col-md-6 no_padding textalign_center" >

							<md-input-container class="select_inputcon" >
							<span>to</span>
							 <input required
							 aria-label="test"
							  		type="number"
						          	 name="{{inputNames.firstSearchEndName}}"
						          	 ng-model="ngModel.SearchEndHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 required>
					        </md-input-container>
					        <div class="validation-messages" ng-messages="formName[inputNames.firstSearchEndName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 no_padding checkbox_col">
					
				</div>
				<div class="col-md-3 no_padding checkbox_col">
					
				</div>
			</div>
			<div class="row mini_form_row ltr" id="row_search_time">
			</div>	
			<div class="row mini_form_row ltr" id="row_pref_time">
				<div class="col-md-6 no_padding">
					<div class="row ">
						<div class="col-md-6 no_padding textalign_center">
							<md-input-container class="select_inputcon">
							<span>from</span>
							  <input required
							  aria-label="test"
							  		type="number"
						          	 name="{{inputNames.firstPrefStartName}}"
						          	 ng-model="ngModel.prefStartHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 reuired>
							</md-input-container>
		 					
		 					<div class="validation-messages" 
		 							ng-messages="formName[inputNames.firstPrefStartName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
						
						<div class="col-md-6 no_padding textalign_center" >

							<md-input-container class="select_inputcon" >
							<span>to</span>
							 <input required
							 aria-label="test"
							  		type="number"
						          	 name="{{inputNames.firstPrefEndName}}"
						          	 ng-model="ngModel.prefEndHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 required>
					        </md-input-container>
					       <div class="validation-messages" ng-messages="formName[inputNames.firstPrefEndName].$error">
								<div ng-message="required">field required.</div>
							</div>
					        
					       
						</div>
					</div>
				</div>
			
				<div class="col-md-3 no_padding checkbox_col">
				
				</div>
				<div class="col-md-3 no_padding checkbox_col">
				
				</div>
			</div>					
		</div>
	</div>




	<div class="col-md-4">
		<h4>Second Date</h4>
		<div class="row" id="form_row_section">
			<div class="row ltr">
				<div class="col-md-7 date_col no_padding">
				  	<md-datepicker 
						name="{{inputNames.secondDateName}}" 
				  		 ng-model="ngmModel.Second.secondDate"
				  		 md-placeholder="date"
				  		 required
				  		 >
					</md-datepicker>
					<div class="validation-messages datePickerError" 
						ng-messages="formName[inputNames.secondDateName].$error">
						<div ng-message="required">field required</div>
					</div>
				</div>

				<div class="col-md-5 depArr_col">	
					<md-input-container>
					
					<md-select 
							aria-label="label"
					 		ng-model="ngModel.Second.secondDepArr"
					 		name="{{inputNames.secondDepArrName}}"
					 		placeholder="Departure"
				       		required>
				        <md-option 
				            value="departure">
				         	Departure
				        </md-option>

				        <md-option 
				            value="arrival">
				         	Arrival
				        </md-option>
				    </md-select>
					</md-input-container>
					 <div class="validation-messages date_valid_css" 
					 		ng-messages="formName[inputNames.secondDepArrName].$error">
						<div ng-message="required">field required.</div>
					</div>
				</div>
			</div>
			<div class="row mini_form_row ltr">
				<div class="col-md-6 no_padding">
					<div class="row ">
						<div class="col-md-6 no_padding textalign_center">
							<md-input-container class="select_inputcon">
							<span>from</span>
							  <input required
							  aria-label="test"
							  		type="number"
						          	 name="{{inputNames.secondSearchStartName}}"
						          	 ng-model="ngModel.Second.SearchStartHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 reuired>
							</md-input-container>
		 					
		 					<div class="validation-messages" 
		 							ng-messages="formName[inputNames.secondSearchStartName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
						
						<div class="col-md-6 no_padding textalign_center" >

							<md-input-container class="select_inputcon" >
							<span>to</span>
							 <input required
							 aria-label="test"
							  		type="number"
						          	 name="{{inputNames.secondSearchEndName}}"
						          	 ng-model="ngModel.Second.SearchEndHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 required>
					        </md-input-container>
					        <div class="validation-messages" ng-messages="formName[inputNames.secondSearchEndName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 no_padding checkbox_col">
					
				</div>
				<div class="col-md-3 no_padding checkbox_col">
					
				</div>
			</div>
			<div class="row mini_form_row ltr" id="row_search_time">
			</div>	
			<div class="row mini_form_row ltr" id="row_pref_time">
				<div class="col-md-6 no_padding">
					<div class="row ">
						<div class="col-md-6 no_padding textalign_center">
							<md-input-container class="select_inputcon">
							<span>from</span>
							  <input required
							  aria-label="test"
							  		type="number"
						          	 name="{{inputNames.secondPrefStartName}}"
						          	 ng-model="ngModel.Second.prefStartHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 reuired>
							</md-input-container>
		 					
		 					<div class="validation-messages" 
		 							ng-messages="formName[inputNames.secondPrefStartName].$error">
								<div ng-message="required">field required.</div>
							</div>
						</div>
						
						<div class="col-md-6 no_padding textalign_center" >

							<md-input-container class="select_inputcon" >
							<span>to</span>
							 <input required
							 aria-label="test"
							  		type="number"
						          	 name="{{inputNames.secondPrefEndName}}"
						          	 ng-model="ngModel.Second.prefEndHour"
						          	 min="0"
						          	 max="24"
						          	 placeholer="Hour"
						          	 required>
					        </md-input-container>
					       <div class="validation-messages" ng-messages="formName[inputNames.secondPrefEndName].$error">
								<div ng-message="required">field required.</div>
							</div>
					        
					       
						</div>
					</div>
				</div>
			
				<div class="col-md-3 no_padding checkbox_col">
				
				</div>
				<div class="col-md-3 no_padding checkbox_col">
				
				</div>
			</div>					
		</div>
	</div>

	














