<div class="form-gap" style="padding-top:26px;"></div>
<div class="container">
   <div class="row">
       <div class="col-md-4 col-md-offset-4">
           <div class="panel panel-default">
             <div class="panel-body">
               <div class="text-center">
                 <h3><i class="fa fa-lock fa-4x"></i></h3>
                 <h2 class="text-center">Forgot Password?</h2>
                 <p>You can reset your password here.</p>
                 <div class="panel-body">
   
                   <form name="register-form" id="register-form" ng-submit="" role="form" class="form">
   
                     <div class="form-group">
                       <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                         <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                       </div>
                     </div>
                     <div class="form-group">
                        <md-button class="md-raised md-primary" type="submit">Reset Password</md-button>
                     </div>
                     
                   </form>
   
                 </div>
               </div>
             </div>
           </div>
         </div>
   </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 2353af154f1ec647bd244b7717b4ec2da8234685
