
<!--  ==================== user multi form =====================   -->


<div class="form_css">

	<div class="row">

		<div class="col-md-4 col-md-offset-4 textalign_center">
			<md-button aria-label="test" class="md-raised btn-primary" ng-click="cleanForm()">
				clean form
			</md-button>
		</div>

		<div class="col-md-4  textalign_center">
			<md-button aria-label="test" class="md-fab md-default" ng-href="#/user_admin">
				<i class="mdi-navigation-chevron-right"></i>
			</md-button>
			<span>Dashboard</span>
		</div>
	</div>
	
	<form name="personalForm" ng-show="formStagesArr[0]" novalidate>
	
	<h3 class="textalign_center">Step 1 - Personal info</h3>
		<div class="row">
			<div class="col-md-6 col-md-offset-3"   id="form_row_section">
				
			

				<div class="row">
					<div class="col-md-6">	
						<div class="row">
							<md-input-container >
					          <label class="form_label">First Name</label>
					          <input
					          	name="Fname"
					          	 ng-model="formObject.personal.Fname"
					      
					          	>
					        </md-input-container>

					        <!--<div class="validation-messages" ng-messages="flightsForm.Fname.$error">
					        	<div ng-message="required"> First name is required.</div>
					        	<div ng-message="minlength">First name must be at least 2 charachters.</div>
					        	<div ng-message="md-maxlength">First name must be at most 15 charachters.</div>
					      	</div>-->
						</div>
						<div class="row">
							<md-input-container >
					          <label class="form_label">Last Name</label>
					          <input
					          	name="Lname"
					          	type="text" 
					          	 ng-model="formObject.personal.Lname"
					          
					          	 >
					        </md-input-container>

					        <!--<div class="validation-messages" ng-messages="flightsForm.Lname.$error">
					        	<div ng-message="required"> Last name is required.</div>
					        	<div ng-message="minlength">Last name must be at least 2 charachters.</div>
					        	<div ng-message="md-maxlength">Last name must be at most 15 charachters.</div>
					      	</div>-->
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<md-input-container >
					          <label class="form_label">Company</label>
					          <input required
					          	name="company"
					          	type="text" 
					          	 ng-model="formObject.personal.company"
					         
					          	 md-placeholer="your company name">
					        </md-input-container>

					        <!--<div class="validation-messages" ng-messages="flightsForm.company.$error">
					        	<div ng-message="required"> field required</div>
					        	<div ng-message="minlength">Company must be at least 2 charachters.</div>
					        	<div ng-message="md-maxlength">Company must be at most 30 charachters.</div>
					      	</div>-->
						</div>
						<div class="row">
							<md-input-container >
					          <label class="form_label">Telephone</label>
					          <input required
					          	type="number" 
					          	name="tel"
					          	 ng-model="formObject.personal.tel"
					          	  minlength="5"
					          	 md-placeholer="your telephone number">
					        </md-input-container>

					        <!--<div class="validation-messages" ng-messages="flightsForm.tel.$error">
					        	<div ng-message="required"> Telephone number is required.</div>
					        	<div ng-message="minlength">Telephone number must be at least 5 charachters.</div>
					      	</div>-->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<md-input-container>
						 <label class="form_label">Children</label>
						 <input required
						 aria-label="test"
						  		type="number"
					          	 name="numKids"
					          	 ng-model="formObject.presonal.numKids"
					          	 min="0"
					          	 max="100"
					          	 placeholer="Children"
					          	 required>
				        </md-input-container>
					</div>
					<div class="col-md-3">
						<md-input-container>
						 <label class="form_label">Adults</label>
						 <input required
						 aria-label="test"
						  		type="number"
					          	 name="numAdults"
					          	 ng-model="formObject.personal.numAdults"
					          	 min="1"
					          	 max="100"
					          	 placeholer="Adults"
					          	 required>
				        </md-input-container>
					</div>
					<div class="col-md-3">
						<md-input-container>
						 <label class="form_label">Elderly</label>
						 <input required
						 aria-label="test"
						  		type="number"
					          	 name="numElder"
					          	 ng-model="formObject.personal.numElder"
					          	 min="0"
					          	 max="100"
					          	 placeholer="Elderly"
					          	 required>
				        </md-input-container>
					</div>
					<div class="col-md-3">
						<md-input-container>
						 <label class="form_label">Flights</label>
						 <input required
						 aria-label="test"
						  		type="number"
					          	 name="numOfFlights"
					          	 ng-model="formObject.personal.numOfFlights"
					          	 min="1"
					          	 max="5"
					          	 placeholer="flights"
					          	 required>
				        </md-input-container>
					</div>
				</div> 

			</div>
		</div>
		<div class="row">
			<div class="col-md-4 textalign_center">
	    		 <md-button ng-click="step_next(0)"
		 			ng-disabled="personalForm.$invalid"	
		 			 class="md-raised md-primary"
		 			 >
	    		 	next
	    		 </md-button>
	    	</div>
		</div>
	</form>

	<form name="flightsForm" ng-show="formStagesArr[1]" novalidate>
		<h3 class="textalign_center">Step 2 - Flights </h3>
		<div class="row" ng-repeat="input in inputArr | limitTo:2">
			<h4>Flight {{input.flight_num}}</h4>
			<flight-form 
				ng-model="formObject.flights[$index]"
				input-names="input.input_names"
				form-name="flightsForm"
				>
			</flight-form>
		</div>

		<div class="row">
				
			<h3 class="textalign_center">Step 3 - Lodging</h3>
			<div class="row"  id="form_row_section">
				<div class="col-md-3">
					
		          <label class="form_label">Entrence Date</label>
		         	<md-datepicker 
						name="lodgeEnterDate" 
				  		 ng-model="ngmModel.lodgeEnterDate"
				  		 md-placeholder="date"
				  		 required>

					</md-datepicker>
			      
				</div>
				<div class="col-md-3">
			          <label class="form_label">Exit Date</label>
		             <md-datepicker 
						name="lodgeExitDate" 
				  		 ng-model="formObject.lodging.lodgeExitDate"
				  		 md-placeholder="date"
				  		 required>
					</md-datepicker>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Min Rating</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="minRate"
				          	 ng-model="formObject.lodging.lodgeMinRate"
				          	 min="1"
				          	 max="10"
				          	 placeholer="Min Rating"
				          	 required>
			        </md-input-container>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Min Price per night</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="minPrice"
				          	 ng-model="formObject.lodging.lodgeMinPrice"
				          	 min="1"
				          	 placeholer="Min Price"
				          	 required>
			        </md-input-container>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Max Price per night</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="maxPrice"
				          	 ng-model="formObject.lodging.lodgeMaxPrice"
				          	 min="1"
				          	 placeholer="Max Price"
				          	 required>
			        </md-input-container>
				</div>
			</div>
			<div class="row ltr"  id="form_row_section">
				<div class="col-md-3 ">
					<md-input-container>
					 <label class="form_label">Min Diving time</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="minDrivetime"
				          	 ng-model="formObject.lodging.minDrivetime"
				          	 min="1"
				          	
				          	 placeholer="Min Drive-time"
				          	 required>
			        </md-input-container>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Pension</label>
					 <md-select 
							aria-label="label"
							ng-model="formObject.lodging.pension"
							name="pension"
							required>
							<md-option>
								None
							</md-option>
							<md-option>
								Half pension
							</md-option>
							<md-option>
								Full pension
							</md-option>
						</md-select>
			        </md-input-container>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Min Stars</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="minStars"
				          	 ng-model="formObject.lodging.lodgeMinStars"
				          	 min="1"
				          	 max="5"
				          	 placeholer="Min Stars"
				          	 required>
			        </md-input-container>
				</div>
				<div class="col-md-2">
					<md-input-container>
					 <label class="form_label">Max Stars</label>
					 <input required
					 aria-label="test"
					  		type="number"
				          	 name="maxStars"
				          	 ng-model="formObject.lodging.lodgeMaxStars"
				          	 min="1"
				          	 placeholer="Max Stars"
				          	 required>
			        </md-input-container>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 textalign_center">
	    		 <md-button ng-click="step_next(1)"
		 			ng-disabled="flightsForm.$invalid"	
		 			 class="md-raised md-primary"
		 			 >
	    		 	next
	    		 </md-button>
	    	</div>
	    	<div class="col-md-4 textalign_center">
	    		 <md-button ng-click="step_back(1)"
		 			 class="md-raised md-primary"
		 			 >
	    		 	back
	    		 </md-button>
	    	</div>
		</div>
	</form>	   
	<div ng-show="formStagesArr[2]">
		<h3 class="textalign_center">Step 3 - Summery? </h3>
		<div class="col-md-4 textalign_center">
    		 <md-button ng-click="step_back(1)"
	 			 class="md-raised md-primary"
	 			 >
    		 	back
    		 </md-button>
    	</div>
    	<div class="col-md-4 textalign_center">
    		 <md-button ng-click="submit_order(formObject)"
	 			 class="md-raised md-primary"
	 			 >
    		 	submit
    		 </md-button>
    	</div>
	</div>
	

	</form>
	

</div>



<!--  ==================== user multi form =====================   -->








		


			
	


