<div id="PageOfHotels" class="row" >
    <div class="row panel panel-primary row-centered">
            <h3 class="hotelsTitle">Hotels by Areas</h3>
    </div>
    <div class="row hotelsTable">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Area</th>
                <th>Hotel Name</th>
                <th>Date</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" hotel in chosenHotels" ng-animate="{'animate'}">
                <th scope="row">{{$index + 1}}</th>
                <td>{{hotel.area}}</td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.startDate}} - {{hotel.endDate}}</td>
                <td>{{hotel.price | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" >
                <md-tab ng-repeat="zone in allhotels" label="{{zone.area_details.area}}">

                    <md-content class="md-padding">
                        <div class="row ">
                            <div class="row bg-primary areaTitle">
                                <h3 class="row-centered">{{zone.area_details.area}}</h3>
                            </div>

                            <div class="row mapOfArea">
                                <ng-map zoom="10" center="[{{zone.coords[1].latitude}}, {{zone.coords[1].longitude}}]" style="height:300px"
                                        on-center-changed="centerCustomMarker()">
                                    <!--<marker position="10 pennsylvania ave, washington DC" on-click="showCustomMarker()"></marker>-->
                                    <custom-marker  ng-repeat="position in zone.coords" position="[{{position.latitude}}, {{position.longitude}}]"
                                                    on-click="showCustomMarker()" ng-if="checkIfHotelChoosedInMap(zone.highest_ranked[$index].name,zone)">
                                        <div class="center-align">
                                           <strong> {{zone.highest_ranked[$index].name}}</strong>
                                              </br>
                                        </div>
                                        <img class="center" src="../images/hotelIcon.png" height="30" width="30">
                                    </custom-marker>
                                    <custom-marker  position="[{{zone.coords[1].latitude}} , {{zone.coords[1].longitude}}]" on-click="showCustomMarker()">
                                        <div class="center-align">
                                            <strong>destination</strong>
                                            </br>
                                        </div>
                                        <img class="center" src="../images/destination.png" height="30" width="30">
                                    </custom-marker>
                                </ng-map>
                            </div>

                            <div class="row choosedArea">
                                <div class="col-md-6 animate-if" ng-repeat="hotel in zone.highest_ranked"
                                     ng-if="!hotel.isNotChoosed" ng-class="hotel.isNotChoosed ? 'selected' : ''">
                                    <div class="hotelInformation">
                                        <div class="row-centered percentageMatch">
                                            <h4><strong>Match: </strong><span class="percentageMatchText">{{hotel.hotel_details.percentageMatch}}</span></h4>
                                        </div>
                                        <div class="row row_hotel_price">
                                            <div class="col-md-3 col-xs-3 hotelPrice">
                                                <h3>{{hotel.price | currency}}</h3>
                                            </div>

                                            <div class="col-md-6 col-xs-6">
                                                <div class="row stars_row">
                                                    <div id="stars_group">
                                                        <img ng-repeat="a in range(hotel.hotel_details.stars) track by $index"
                                                             src="images/star.png" alt="Stars" height="30" width="30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-3 choosenHotel">
                                                <md-button class="md-fab" aria-label="choosen Hotel"
                                                           ng-click="chooseHotelInArea($index,zone.highest_ranked,zone)"
                                                           ng-disabled="hotel.isNotChoosed"
                                                           ng-class="(zone.isHotelChoosed) ? 'redButton' : ''">
                                                    <tab-heading ng-if="!hotel.isNotChoosed && zone.isHotelChoosed">
                                                        <i class="material-icons checkLogo">close</i>
                                                    </tab-heading>
                                                    <tab-heading ng-if="!zone.isHotelChoosed">
                                                        <i class="material-icons checkLogo">check</i>
                                                    </tab-heading>
                                                </md-button>
                                            </div>
                                        </div>
                                        <div class="row hotels_header_row">
                                            <div class="col-md-4">
                                                <strong>{{hotel.name}}</strong>
                                            </div>
                                            <div class="col-md-8">
                                                {{hotel.address}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7 col-sm-6 img_col">
                                                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                                    <uib-slide class="img_slide" ng-repeat="pic in hotel.pictures">
                                                        <img class="img img-responsive" id="img_css_hotel"
                                                             ng-src="{{pic}}" style="margin:auto;">
                                                    </uib-slide>
                                                </uib-carousel>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row hotel_info">
                                                    <div class="hotel_info_icon">
                                                        <i class="mdi-maps-local-restaurant"></i>
                                                        <span>Pension:</span>
                                                    </div>
                                                    <div class="hotel_info_text">
                                                        <strong>{{hotel.pension}}</strong>
                                                    </div>
                                                </div>
                                                <div class="row hotel_info">
                                                    <div class="row">
                                                        <div class="hotel_info_icon">
                                                            <i class="mdi-action-thumb-up"></i>
                                                            <span>Users rank:</span>
                                                        </div>
                                                        <div class="hotel_info_text">
                                                            <strong>{{hotel.rank.average_rank}}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="row row_rank_sum">
                                                        <div class="hotel_info_icon">
                                                            <strong>Users:</strong>
                                                        </div>
                                                        <div class="hotel_info_text">
                                                            <strong>{{hotel.rank.ranks_sum}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row hotel_info">
                                                    <div class="hotel_info_icon">
                                                        <i class="mdi-maps-local-hotel"></i>
                                                        <span>Price per night:</span>
                                                    </div>
                                                    <div class="hotel_info_text">
                                                        <strong>{{hotel.hotel_details.price_per_night}} $</strong>
                                                    </div>
                                                </div>
                                                <div class="row hotel_info">
                                                    <div class="hotel_info_icon">
                                                        <i class="mdi-navigation-arrow-forward"></i>
                                                        <span>link:</span>
                                                    </div>
                                                    <div class="hotel_info_text">
                                                        <a href="{{hotel.link}}">Hotels Combined</a>
                                                    </div>
                                                </div>
                                                <div class="row hotel_dur_row">
                                                    <div class="row icon_col">
                                                        <div class="col-md-4">
                                                            <i ns-popover
                                                               ns-popover-template="address_duration_popover"
                                                               ns-popover-trigger="click"
                                                               ns-popover-placement="bottom"
                                                               class="mdi-maps-local-taxi pull-left"
                                                               id="hotel_icon_addr"> </i>
                                                        </div>
                                                        <div class="col-md-8 iconText">
                                                            <span><strong>{{hotel.hotel_details.distances.from_address.drive_distance}}</strong></span>
                                                            <span> km &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            <span><strong>{{hotel.hotel_details.distances.from_address.drive_time}}</strong></span>
                                                            <span> min</span>
                                                        </div>
                                                    </div>
                                                    <div class="row icon_col">
                                                        <div class="col-md-4">
                                                            <i ns-popover
                                                               ns-popover-template="airport_duration_popover"
                                                               ns-popover-trigger="click"
                                                               ns-popover-placement="bottom"
                                                               class="mdi-maps-local-taxi pull-left"
                                                               id="hotel_icon_airport"> </i>
                                                        </div>
                                                        <div class="col-md-8 iconText">
                                                            <span><strong>{{hotel.hotel_details.distances.from_airport.drive_distance}}</strong></span>
                                                            <span> km &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            <span><strong>{{hotel.hotel_details.distances.from_airport.drive_time}}</strong></span>
                                                            <span> min</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <script type="text/ng-template" id="address_duration_popover">

                                                <div class="popover_box_css">
                                                    <div class="row">
                                                        Driving distance from <strong>work address</strong> is:
                                                        {{hotel.hotel_details.distances.from_address.drive_distance}} km
                                                    </div>
                                                    <!--<div class="row">
                                                    Aerial distance from <strong>work address</strong> is: {{hotel.hotel_details.distances.from_address.aerial_distance}} km
                                                    </div>-->
                                                    <div class="row">
                                                        Estimated driving time from <strong>work address</strong> is:
                                                        {{hotel.hotel_details.distances.from_address.drive_time}} min
                                                    </div>
                                                </div>

                                            </script>
                                            <script type="text/ng-template" id="airport_duration_popover">

                                                <div class="popover_box_css">
                                                    <div class="row">
                                                        Driving distance from <strong> local airport</strong> is:
                                                        {{hotel.hotel_details.distances.from_airport.drive_distance}} km
                                                    </div>
                                                    <!--<div class="row">
                                                    Aerial distance from <strong>>local airport</strong> is: {{hotel.hotel_details.distances.from_airport.aerial_distance}} km
                                                    </div>-->
                                                    <div class="row">
                                                        Estimated driving time from <strong>local airport</strong> is:
                                                        {{hotel.hotel_details.distances.from_airport.drive_time}} min
                                                    </div>
                                                </div>

                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-if"  ng-if="zone.isHotelChoosed" >
                                    <div class="row-centered">
                                        <h3>Completion Screen</h3>
                                        <div class="row hotelsTable hotelsTableFinishScreen">
                                            <table class="table">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Area</th>
                                                    <th>Hotel Name</th>
                                                    <th>Date</th>
                                                    <th>Price</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat=" hotel in chosenHotels" ng-animate="{'animate'}">
                                                    <th scope="row">{{$index + 1}}</th>
                                                    <td>{{hotel.area}}</td>
                                                    <td>{{hotel.name}}</td>
                                                    <td>{{hotel.startDate}} - {{hotel.endDate}}</td>
                                                    <td>{{hotel.price | currency}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row-centered">
                                        <p class="numberOfSelectedHotelsText">selected <span>{{chosenHotels.length}}</span> from <span>{{allhotels.length}}</span> hotels</p>
                                    </div>
                                    <div class="row-centered">
                                        <md-button class="md-raised btn-primary btn-lg navigationHotelButton" ng-click="getPreviousHotel()" ng-disabled="selectedTab == 0">< previous hotel </md-button>
                                        <md-button class="md-raised btn-primary btn-lg navigationHotelButton" ng-click="getNextHotel()" ng-disabled="selectedTab == allhotels.length -1">next hotel   ></md-button>
                                    </div>
                                    <div class="row-centered">
                                        <md-button href="#/flights" class="md-raised btn-primary btn-lg hotelButton">Back To Flight Page</md-button>
                                    </div>
                                    <div class="row-centered">
                                        <md-button href="#/finalOrder" class="md-raised btn-primary btn-lg hotelButton">Go to Final Order</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
