<!-- START filter panel-->

<p>
    <button ng-click="toggleLeft()" style="height:
  70px;width: 110px;-webkit-transform: rotate(90deg);font-size: 22px;
  position: fixed; z-index:2;top:50px; left: -30px;" class="w3-button w3-blue">FILTER
    </button>
</p>


<md-sidenav md-disable-backdrop="false" style="position:fixed" class="md-sidenav-left" md-component-id="left"
            md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>

    <md-content layout-margin="">


        <div>
            <label for="DisplayLimitSelect"><h4 class="text-center"> Display Limit</h4></label>
            <md-select data-ng-model="displayLimitSelect" class="form-control" id="DisplayLimitSelect">
                <md-option selected="true" value="10">10</md-option>
                <md-option value="25">25</md-option>
                <md-option value="50">50</md-option>
                <md-option value="100">100</md-option>
                <md-option value="200">200</md-option>
            </md-select>
        </div>


        <hr class="hrInAllFlights">

        <div id="dropDownParent" class="drop-down">
            <div id="titleAirlines">Name</div>
            <div style="background-color: rgba(0, 0, 0, 0.19)">


                <div id="subTitleAirlines" ng-click="clickedIsAirlinesDropdown()">Click here to expand ˅</div>
                <div id="dropDownDiv" class="dropdown-content" ng-if="isAirlinesDropdown">

                    <input id="selectAllHotels" data-ng-model="isHotelsCheckedAll" ng-click="checkAllHotels()"
                           type="checkbox">
                    <label style="width:100%" class="hoverSelect" for="selectAllHotels">Check all<br></label
                    >
                    <br>
                    <div ng-repeat="(hotelName, show) in hotelsNameFilter">
                        <input id="hotel{{$index}}" ng-model="hotelsNameFilter[hotelName]" type="checkbox">
                        <label style="width:100%" class="hoverSelect" for="hotel{{$index}}">{{hotelName}}<br></label>
                    </div>
                </div>

                <div id="bottomOfAirlines" class="airline-checks">

                </div>
            </div>
        </div>


        <!-- Rooms filter -->

        <hr class="hrInAllFlights">

        <check-box-filter title="Room Name" id="namesFilter" filter-options="roomsFilterOptions"></check-box-filter>

        <hr class="hrInAllFlights">
        <check-box-filter title="Refundable & Breakfast options" id="constOptions"
                          filter-options="staticRoomsFilterOptions"></check-box-filter>


        <!-- END Rooms filter -->


        <hr class="hrInAllFlights">
        <div style="position: relative">
            <div>
                <h4 class="text-center"> Stars </h4>
                <input id="threeStars" type="checkbox"
                       data-ng-model="filterByStars['3']"
                >
                <label class="hoverSelect" style="width:100%" for="threeStars">
                    <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                    <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                    <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                </label>
            </div>
            <input id="fourStars" type="checkbox"
                   data-ng-model="filterByStars['4']"
            >
            <label for="fourStars" style="width:100%" class="hoverSelect">
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
            </label>

            <input id="fiveStars" type="checkbox"
                   data-ng-model="filterByStars['5']"
            >
            <label for="fiveStars" style="width:100%" class="hoverSelect">
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
                <i style="color:rgb(68,138,255)" class="mdi-action-grade"></i>
            </label>
        </div>
        <div>
            <!--priceRangeSlider-->

            <h4 class="text-center">Price</h4>


            <div style="margin-bottom: 5px" range-slider="range-slider"
                 min="priceRange.min" class="row-centered" max="priceRange.max" model-min="priceRange.userMinOne"
                 model-max="priceRange.userMaxOne"></div>
            <div class="pull-left">
                {{priceRange.userMinOne | currency:"$":0}}
            </div>

            <div class="pull-right">
                {{priceRange.userMaxOne | currency:"$":0}}
            </div>


        </div>


        <md-button ng-click="toggleLeft()" style="margin-top:100px;margin-left:175px" class="md-raised md-primary">
            Close
        </md-button>

    </md-content>


</md-sidenav>

<!-- END filter panel-->

<md-content>
    <div id="PageOfHotels">
        <div class="row panel panel-primary row-centered">
            <h3>Hotels</h3>
            <!--   </div>
                <h3>Filter by hotel name</h3>
                 <div ng-repeat="category in ctrl.getCategories()">
                   <label>
                     <input type="checkbox" ng-model="ctrl.filter[category]" />
                     {{ category }}
                   </label>
                 </div></-->
            <div class="row" ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
                        <md-tab ng-repeat="zone in allhotels" label="{{zone.area_details.area}}">
                            <md-content class="md-padding">

                                <!-- START Hotels map   -->


                                <div map-lazy-load="https://maps.google.com/maps/api/js">
                                    <ng-map id="mainMap" default-style="false" zoom-to-include-markers="false">


                                        <marker ng-if="hotel.filteredRooms.length>0"
                                                ng-repeat="hotel in (zone.highest_ranked | filter:filterHotels |  limitTo:displayLimitSelect)"
                                                title="{{hotel.hotel_name}}"
                                                position="[{{hotel.latitude}},  {{  hotel.logitude}}]">

                                        </marker>


                                    </ng-map>
                                </div>

                                <!-- END Hotels map   -->


                                <div class="row choosedArea" style="padding-top: 27px;">


                                    <div class="col-md-6 animate-if"
                                         ng-repeat="hotel in (zone.highest_ranked | filter:filterHotels |  limitTo:displayLimitSelect)"
                                         ng-if="!hotel.isNotChoosed" ng-class="hotel.isNotChoosed ? 'selected' : ''">
                                        <div class="hotelInformation" ng-show="hotel.filteredRooms.length > 0">

                                            <div class="row-centered percentageMatch">
                                                <h4><strong>Match: </strong><span class="percentageMatchText">{{hotel.hotel_details.percentageMatch}}</span>
                                                </h4>
                                            </div>
                                            <div class="row row_hotel_price">
                                                <div class="col-md-3 col-xs-3 hotelPrice">

                                                    <h3>{{hotel.selectedItem.price | currency}}</h3>
                                                </div>

                                                <div class="col-md-6 col-xs-6">
                                                    <div class="row stars_row">
                                                        <div id="stars_group">


                                                            <i ng-repeat="a in range(hotel.stars) track by $index"
                                                               style="color:rgb(68,138,255)"
                                                               class="mdi-action-grade"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 choosenHotel">
                                                    <md-button class="md-fab" aria-label="choosen Hotel"
                                                               ng-click="chooseHotelInArea($index,zone.highest_ranked,zone)"
                                                               ng-disabled="hotel.isNotChoosed"
                                                               ng-class="(zone.isHotelChoosed) ? 'redButton' : ''">
                                                        <tab-heading ng-if="!hotel.isNotChoosed && zone.isHotelChoosed">
                                                            <i class="material-icons checkLogo">close</i>
                                                        </tab-heading>
                                                        <tab-heading ng-if="!zone.isHotelChoosed">
                                                            <i class="material-icons checkLogo">check</i>
                                                        </tab-heading>
                                                    </md-button>
                                                </div>
                                            </div>
                                            <div class="row hotels_header_row">
                                                <div class="col-md-4">
                                                    <strong>{{hotel.hotel_name}}</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!--                                            <div class="col-md-7 col-sm-6 img_col">
                                                                                                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                                                                                    <uib-slide class="img_slide" ng-repeat="pic in hotel.pictures">
                                                                                                        <img class="img img-responsive" id="img_css_hotel"
                                                                                                             ng-src="{{pic}}" style="margin:auto;">
                                                                                                    </uib-slide>
                                                                                                </uib-carousel>
                                                                                            </div> -->


                                                <table class="hotel_room">
                                                    <tr>
                                                        <td>
                                                            Price:
                                                        </td>
                                                        <td>
                                                            <b>{{hotel.selectedItem.price | currency}} </b>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Type:
                                                        </td>
                                                        <td>
                                                            <b>{{hotel.selectedItem.name}}</b>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Refundable:
                                                        </td>
                                                        <td>
                                                            <b>{{hotel.selectedItem.isRefundable ? "YES" : "NO"}}</b>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Includes breakfast:
                                                        </td>
                                                        <td>
                                                            <b>{{hotel.selectedItem.includesBreakFast ? "YES" :
                                                                "NO"}}</b>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Info:
                                                        </td>
                                                        <td>
                                                            <b>{{hotel.selectedItem.info}}</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="comboboxDivStyle">

                                                    <ui-select   ng-model="hotel.selectedItem"
                                                               ng-show="hotel.rooms.length>1"
                                                               on-select="selectRoomChosen($item, $model,hotel)">
                                                        <ui-select-match>

                                                            <span style="background-color:white" ng-bind="hotel.selectLabel"></span>
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                repeat="room in hotel.filteredRooms = (hotel.rooms | filter:filterByRoomName)"
                                                                ui-disable-choice="room.id == hotel.selectedItem.id">
                                                            <table
                                                                    class="tblComboboxOption">
                                                                <tr>
                                                                    <td class="comboboxTblCol">{{room.price |
                                                                        currency}}
                                                                    </td>
                                                                    <td>
                                                                        {{room.name}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>


                                                <script type="text/ng-template" id="address_duration_popover">

                                                    <div class="popover_box_css">
                                                        <div class="row">
                                                            Driving distance from <strong>work address</strong> is:
                                                            {{hotel.hotel_details.distances.from_address.drive_distance}}
                                                            km
                                                        </div>
                                                        <!--<div class="row">
                                                        Aerial distance from <strong>work address</strong> is: {{hotel.hotel_details.distances.from_address.aerial_distance}} km
                                                        </div>-->
                                                        <div class="row">
                                                            Estimated driving time from <strong>work address</strong>
                                                            is:
                                                            {{hotel.hotel_details.distances.from_address.drive_time}}
                                                            min
                                                        </div>
                                                    </div>

                                                </script>
                                                <script type="text/ng-template" id="airport_duration_popover">

                                                    <div class="popover_box_css">
                                                        <div class="row">
                                                            Driving distance from <strong> local airport</strong> is:
                                                            {{hotel.hotel_details.distances.from_airport.drive_distance}}
                                                            km
                                                        </div>
                                                        <!--<div class="row">
                                                        Aerial distance from <strong>>local airport</strong> is: {{hotel.hotel_details.distances.from_airport.aerial_distance}} km
                                                        </div>-->
                                                        <div class="row">
                                                            Estimated driving time from <strong>local airport</strong>
                                                            is:
                                                            {{hotel.hotel_details.distances.from_airport.drive_time}}
                                                            min
                                                        </div>
                                                    </div>

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 animate-if" ng-if="zone.isHotelChoosed">
                                        <div class="row-centered">
                                            <h3>Completion Screen</h3>
                                            <div class="row hotelsTable hotelsTableFinishScreen">
                                                <table class="table">
                                                    <thead class="thead-inverse">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Area</th>
                                                        <th>Hotel Name</th>
                                                        <th>Date</th>
                                                        <th>Price</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat=" hotel in chosenHotels" ng-animate="{'animate'}">
                                                        <th scope="row">{{$index + 1}}</th>
                                                        <td>{{hotel.area}}</td>
                                                        <td>{{hotel.name}}</td>
                                                        <td>{{hotel.startDate}} - {{hotel.endDate}}</td>
                                                        <td>{{hotel.price | currency}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row-centered">
                                            <p class="numberOfSelectedHotelsText">selected
                                                <span>{{chosenHotels.length}}</span> from
                                                <span>{{allhotels.length}}</span> hotels</p>
                                        </div>
                                        <div class="row-centered">
                                            <md-button class="md-raised btn-primary btn-lg navigationHotelButton"
                                                       ng-click="getPreviousHotel()" ng-disabled="selectedTab == 0"><
                                                previous hotel
                                            </md-button>
                                            <md-button class="md-raised btn-primary btn-lg navigationHotelButton"
                                                       ng-click="getNextHotel()"
                                                       ng-disabled="selectedTab == allhotels.length -1">next hotel >
                                            </md-button>
                                        </div>
                                        <div class="row-centered">
                                            <md-button href="#/flights"
                                                       class="md-raised btn-primary btn-lg hotelButton">Back To Flight
                                                Page
                                            </md-button>
                                        </div>
                                        <div class="row-centered">
                                            <md-button href="#/finalOrder"
                                                       class="md-raised btn-primary btn-lg hotelButton">Go to Final
                                                Order
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </md-content>


                        </md-tab>
            </div>
            </md-tabs>

        </div>
    </div>

</md-content>


