<div ng-if="!loading">
    <div class="row">
        <div class="col-md-5 btn_top_con">
            <label>Travelers</label>
            <br/>
            <label ng-repeat="person in passengersAsObjects">
                <input id="person{{$index}}" type="checkbox" data-ng-model="person.checked"> <label for="person{{$index}}">{{person.name}} &nbsp&nbsp</label>
            </label>
        </div>
    </div>

    <div class="flight-form-wrapper">


    </div>

    <div ng-repeat="leg in Hotels" class="flight-form-wrapper">
        <form name="leg{{$index}}" class="legs-wrap">
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="airportInputField">Address</label>
                    <input ng-autocomplete="leg.location" class="form-control address" type="text" ng-model="leg.location" placeholder="Address">
                </div>

                    <!-- Radius from location -->
                <div class="col-lg-1 form-group one-and-half">
                    <label for="selectApNearbyOrigin{{$index}}" class="labelForNearbyAirports">Radius from address</label><br>
                    <div class="row">
                    <md-select id="selectApNearbyOrigin{{$index}}"
                            data-ng-model="leg.radius"
                            ng-change="changeNearbyAirports('origin', $index, leg.radius, leg.origin[0])"
                            class=" ap-distance-select">

                        <md-option value="10">10</md-option>
                        <md-option value="20">20</md-option>
                        <md-option value="30">30</md-option>
                        <md-option value="40">40</md-option>
                    </md-select>
                    </div>

                    <!-- NEARBY ADDRESSES -->
                </div>


                <div class="col-lg-2 form-group one-and-half">
                    <label>Arrival
                        <input class="form-control" type="date" ng-model="leg.arrive_dates_options[0]">
                    </label>
                </div>

                <div class="col-lg-2 form-group one-and-half">
                    <label>Departure
                        <input class="form-control" type="date" ng-model="leg.depart_dates_options[0]">
                    </label>
                </div>

                <div class="col-lg-2 form-group one-and-half">
                <label for="multipleSelect"> Hotel stars: </label><br>
                <select name="multipleSelect" id="multipleSelect" ng-model="leg.stars" multiple>
                  <option value="3">3 Stars</option>
                  <option value="4">4 Stars</option>
                  <option value="5">5 Stars</option>
                </select>
                </div>

                <div class="col-lg-2 form-group one-and-half">
                <label for="rooms"> Rooms: </label><br>
                <select name="rooms" ng-model="leg.rooms">
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                </select><br>
                </div>
            </div>

            <div class="row" ng-repeat="_ in ((_ = []) && (_.length=leg.rooms) && _) track by $index">
                <div class="col-lg-2 form-group one-and-half" >
                <label for="rooms"> Room: {{$index+1}} </label><br>
                    <div class="col-lg-2 form-group one-and-half">
                    <label for="rooms"> Adults: </label><br>
                    <select name="rooms" ng-model="leg.room[$index+1].adults">
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                    </select>
                    </div>
                    <br><br><br>
                    <!--<div class="col-lg-2 form-group one-and-half">-->
                    <!--<label for="rooms"> kids: </label><br>-->
                    <!--<select name="rooms" ng-model="leg.room[$index+1].kids">-->
                      <!--<option value=1>1</option>-->
                      <!--<option value=2>2</option>-->
                      <!--<option value=3>3</option>-->
                      <!--<option value=4>4</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </div>

            </div>

            <div class="row" ng-show="extra1==true">
                <div class="col-lg-2 form-group">
                    <label>search from</label>
                    <input type="text" class="form-control" ng-model="leg.earliest_time">
                </div>
                <div class="col-lg-2 form-group">
                    <label>search to</label>
                    <input type="text" class="form-control" ng-model="leg.latest_time">
                </div>
                <div class="row">
                    <div class="form-group col-lg-1">
                        <label>Dates option</label>
                        <select ng-model="leg.dates_combination_method" class="form-control">
                            <option value="0">Regular</option>
                            <option value="2">Few dates</option>
                            <option value="3">Duration</option>
                        </select>
                    </div>
                    <div id="col-lg-1-and-half2" class="form-group col-lg-2">
                        <label>Date</label>
                        <input type="text" class="form-control" ng-model="leg.date[0]">
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Days before</label>
                        <input type="text" class="form-control" ng-maxlength="2" ng-model="leg.days_before_dates">
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Days after</label>
                        <input type="text" class="form-control" ng-maxlength="2" ng-model="leg.days_after_dates">
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Duration</label>
                        <input type="text" class="form-control" ng-model="leg.stay_duration[0]">
                    </div>
                </div>
            </div>
        </form>

<!--        <div class="showHideExtra">
            <small-button class=" btn-info md-raised btn-sm " ng-show="extra1==false" ng-click="extra1 = true">
                More search options
            </small-button>
            <small-button class=" btn-info md-raised btn-sm " ng-show="extra1 == true" ng-click="extra1=false">
                Hide More search options
            </small-button>
        </div>-->
    </div>

    <div class="col-lg-12">
        <md-button class=" btn-info btn-md col-md-1 md-raised " ng-click="add()">Add leg</md-button>
    </div>
    <div class="col-lg-12">
        <md-button class="btn-primary btn-md col-md-1 md-raised" ng-click="sendForm()">Send</md-button>
    </div>

    <pre>{{Hotels | json}}</pre>
    <pre>{{passengersAsObjects}}</pre>


</div>

<div ng-if="loading">
    <h3 class="text-center">GETTING RESPONSE FROM SERVER</h3>
    <div class="spinner" ></div>
</div>
