
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide class="img_slide" ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img class="img img-responsive" id="img_css" ng-src="{{slide.image}}" style="margin:auto;">
         <div class="carousel-caption">
          <h3>{{slide.header}}</h3>
          <p>{{slide.text}}</p>
        </div>
      </div>
	</div >
	</div>

</div>
<div class="row icon_menu_row">
	<div class="col-md-4 home_icon_col">
	<h4 > <strong>Get Started</strong> </h4>
	<p>Already a member? Start a new bussiness <br>
		travel plan today.
	</p>
        <a href="#/flight/multipleFlights">
			<i class="mdi-content-content-paste icon_home" id="icon_home_plan"></i>
		</a>
	</div>
	<div class="col-md-4 home_icon_col">
	<h4 ><strong>Flights</strong> </h4>
	<p>Not registered? Sign in easely now, <br>
		its completely free.
	</p>
		<a href="#/allFlights">
			<i class="mdi-image-timer-auto icon_home" id="icon_home_register"></i>
		</a>
	</div>
	<div class="col-md-4 home_icon_col">
		<h4 ><strong>Final Order</strong> </h4>
		<p>Keep track of your travel plans <br>
		from your account.
		</p>
		<a href="#/finalOrder">
			<i class="mdi-action-wallet-travel icon_home" id="icon_home_account"></i>
		</a>
	</div>

	<br>
	<br>
	<div style="margin-top:20px" class="col-md-4 home_icon_col">
		<h4 ><strong>Hotels</strong> </h4>
		<p>Look for a hotel at your destination </p>


		<a href="#/hotelSearch">
			<i class="mdi-action-account-balance icon_home" id="icon_home_hotel"></i>
		</a>
	</div>

	<div style="margin-top:20px" class="col-md-4 home_icon_col">
		<h4 ><strong>View Hotels Details <br></strong> </h4>
<br>


		<a href="#/hotels2">
			<i class="mdi-action-description icon_home" id="icon_home_viewHotelsDetails"></i>
		</a>
	</div>
</div>

<!--main screen-->
<!--<div class="row main">-->
	<!---->
<!--</div>-->
<!--end of main screen-->