
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide class="img_slide" ng-repeat="slide in slides">
                <img class="img img-responsive" id="img_css" ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h3>{{slide.header}}</h3>
                    <p>{{slide.text}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

</div>
<div class="row icon_menu_row">
    <div class="col-md-4 home_icon_col">
        <h4 > <strong>Get Started</strong> </h4>
        <p>Allready a member? start a new bussiness <br>
            travel plan today.
        </p>
        <a href="#/user_admin">
            <i class="mdi-content-content-paste icon_home" id="icon_home_plan"></i>
        </a>
    </div>
    <div class="col-md-4 home_icon_col">
        <h4 ><strong>Register</strong> </h4>
        <p>Not registered? sign in easely now, <br>
            its completley free.
        </p>
        <a href="#/">
            <i class="mdi-image-timer-auto icon_home" id="icon_home_register"></i>
        </a>
    </div>
    <div class="col-md-4 home_icon_col">
        <h4 ><strong>Your Account</strong> </h4>
        <p>Keep track of your travel plans <br>
            from your account.
        </p>
        <a href="#/">
            <i class="mdi-action-wallet-travel icon_home" id="icon_home_account"></i>
        </a>
    </div>
</div>

<!--main screen-->
<!--<div class="row main">-->
<!---->
<!--</div>-->
<!--end of main screen-->