
 <div style="color:red" ng-hide="online"><b>You're offline</b></div>

<md-toolbar ng-controller="userLoginController" class="md-menu-toolbar">
    <div layout="row">
        <div class="menu_container">
            <md-menu-bar>
                <md-menu class="left_menu">
                    <md-menu-item>
                        <a class="headMenu" href="#/">
                            <button class="menu_button">
                                <p class="menu_btn_text">Home</p>
                                <i class="mdi-action-home  top_menu_icon"></i>
                            </button>
                        </a>
                    </md-menu-item>
                    <md-menu-content class="hidden_content">


                    </md-menu-content>
                </md-menu>
                <md-menu class="left_menu">
                    <md-menu-item>
                        <button class="menu_button">
                            <a class="headMenu" href="#/"><p class="menu_btn_text">About</p>
                                <i class="mdi-action-info-outline  top_menu_icon"></i></a>
                        </button>
                    </md-menu-item>
                    <md-menu-content class="hidden_content">


                    </md-menu-content>
                </md-menu>
                <md-menu class="left_menu">
                    <md-menu-item>
                        <button  class="menu_button">
                            <a class="headMenu" href="#/"><p class="menu_btn_text">Contact</p>
                                <i class="mdi-content-send  top_menu_icon"></i></a>
                        </button>
                    </md-menu-item>
                    <md-menu-content class="hidden_content">


                    </md-menu-content>
                </md-menu>
                <md-menu class="left_menu">
                    <button ng-click="$mdOpenMenu()" class="menu_button menu_button_right">
                        <p class="menu_btn_text">Account</p>
                        <i class="mdi-action-perm-identity"></i>
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$mdMenu.hide()" href="#/login">
                                Sign in

                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$mdMenu.hide()" href="#/userRegister">
                                Register

                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button disabled="disabled">
                                Something
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
                <!--<md-menu class="left_menu">
                  <button ng-click="$mdOpenMenu()" class="menu_button">
                  <p class="menu_btn_text">Flights</p>
                   <i class="mdi-maps-local-airport top_menu_icon"></i>
                  </button>
                  <md-menu-content>



                    <md-menu-item>
                      <md-button >
                         <a href="#/flights">My Flights</a>

                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button disabled="disabled">
                        Dummy
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                      <md-button >
                        Dummy
                        <span class="md-alt-text">icon</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                  <md-menu class="left_menu">
                  <button ng-click="$mdOpenMenu()" class="menu_button">
                    <a href="#/hotels"><p class="menu_btn_text">Hotels</p> </a>
                    <i class="mdi-social-domain top_menu_icon"></i>
                  </button>
                  <md-menu-content>
                  <md-menu-item>
                      <md-button >
                         <a href="#/hotels">My Hotels</a>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-menu>
                        <md-button ng-click="$mdOpenMenu()">Dummy</md-button>
                        <md-menu-content>
                          <md-menu-item><md-button >Dummy</md-button></md-menu-item>
                          <md-menu-item><md-button >Dummy</md-button></md-menu-item>
                          <md-menu-item><md-button >Dummy</md-button></md-menu-item>
                          <md-menu-item><md-button >Dummy</md-button></md-menu-item>
                          <md-menu-item><md-button >Dummy</md-button></md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button disabled="disabled">
                        Dummy
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                      <md-button >
                        Dummy
                        <span class="md-alt-text">Dummy</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>-->

                <md-menu ng-if="user !== null"  class="right_menu">
                    <md-menu-item>
                        <p class="login_text">name: {{user.name}}</br>company: {{user.company}}</p>
                    </md-menu-item>
                </md-menu>

                <md-menu ng-if="user !== null" class="right_menu">
                    <md-menu-item>
                        <button ng-click="logOut()" class="menu_button">
                            <a class="headMenu" href="#/login"><p class="menu_btn_text">Log Out</p>
                                <i class="small material-icons logout_icon">power_settings_new</i>
                                </a>
                        </button>
                    </md-menu-item>
                </md-menu>

            </md-menu-bar>
        </div>
    </div>
</md-toolbar>