<h3 class="textalign_center">{{title}}</h3>

<form name="regForm" ng-submit="register()" novalidate>
	<div class="row">
		<div class="col-md-1 col-md-offset-3 login_icon">
			<i class="material-icons">perm_identity</i>
		</div>
		<div  class="col-md-5">
			<md-input-container>
	          <label class="form_label">Username</label>
	          <input
	          	name="username"
	          	type="text" 
	          	 ng-model="regForm_username"
		      	 required
		      	 >
	        </md-input-container>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 col-md-offset-3 login_icon">
			<i class="material-icons">visibility</i>
		</div>
		<div  class="col-md-5">
	        <md-input-container >
	          <label class="form_label">Password</label>
	          <input
	          	name="password"
	          	type="text" 
	          	 ng-model="regForm_password"
	          	 min-length="7"
		      	 required
		      	 >
	        </md-input-container>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			 <md-button class="md-raised md-primary" type="submit">Submit</md-button>
		</div>
	</div>
</form>