<h3 class="textalign_center">{{title}}</h3>
<form name="signForm" ng-submit="login()" style="margin-top:25px;" novalidate>	
<div class="row">
		<div class="col-md-1 col-md-offset-3 login_icon">
			<i class="material-icons">perm_identity</i>
		</div>
		<div  class="col-md-5">
			<md-input-container>
	          <label class="form_label">Username</label>
	          <input
	          	name="username"
	          	type="text" 
	          	 ng-model="userData.username"
		      	 required
		      	 >
	        </md-input-container>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 col-md-offset-3 login_icon">
			<i class="material-icons">visibility</i>
		</div>
		<div  class="col-md-5">
	        <md-input-container >
	          <label class="form_label">Password</label>
	          <input
	          	name="password"
	          	type="password"
	          	 ng-model="userData.password"
		      	 required
		      	 >
	        </md-input-container>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			 <md-button class="md-raised md-primary" ng-click="sendForm()" type="submit">Submit</md-button>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-5 col-md-offset-4">
			<a href="#/forgotPassword" class="md-primary">forgot Password?</a>
	</div>
</div>

<div class="error_msg row" ng-messages="signForm.$error" flex="initial" ng-show="errormsg">
	<div class="col-md-5 col-md-offset-4 alert alert-danger" style="margin-top:18px;">
		{{errormsg}}
	</div>
</div>