<form role="form">
    <div class="row">
        <div class="col-lg-4">
            <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" ng-model="username">
    </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" ng-model="password">
    </div>
    </div>
    <md-button class="md-raised btn-primary btn-lg col-md-12 " ng-click="sendForm()">Send</md-button>
</form>
