<div class="row dash_header">
	<h3 class="textalign_center">Travel Plan Dashboard </h3>
</div>
<div class="row dash_btn_row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-3 textalign_center">
				<span class="textalign_center dash_span">New </span>
				<a href="#/form" class="btn btn-info btn-fab btn-raised mdi-content-add dashboard_btn"></a>
			</div>
			<div class="col-md-3 textalign_center">
			<span class="textalign_center dash_span">View </span>
				<a href="javascript:void(0)" ng-click="show_view_plan()" class="btn btn-info btn-fab btn-raised mdi-action-wallet-travel dashboard_btn"></a>
			</div>
			<div class="col-md-3 textalign_center">
			<span class="textalign_center dash_span" >Ready </span>
				<a href="javascript:void(0)" ng-click="show_ready_menu()" class="btn btn-info btn-fab btn-raised mdi-action-done dashboard_btn"></a>
			</div>
			<div class="col-md-3 textalign_center">
			<span class="textalign_center dash_span">Final order </span>
				<a href="#/finalOrder" class="btn btn-info btn-fab btn-raised mdi-content-create dashboard_btn"></a>
			</div>
		</div>
	</div>
</div>

<div class="row row_ready_menu" ng-if="show_ready">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<div class=" textalign_center">
				<span class="textalign_center dash_span">Flights </span>
					<a href="#/flights" class="btn btn-info btn-fab btn-raised mdi-maps-local-airport dashboard_btn"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class=" textalign_center">
				<span class="textalign_center dash_span">Hotels </span>
					<a href="#/hotels" class="btn btn-info btn-fab btn-raised mdi-social-domain dashboard_btn"></a>
				</div>
			</div>
		</div>
	</div>
	
</div>


<div class="row row_view_menu" ng-if="show_view">
	order:{{order}}

	<button ng-click="print_cookie()">cookie</button>
	cookie:{{orderCookie}}

</div>
