<!DOCTYPE html> {% autoescape true %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="row">
        <div class="input-field col l3">
            <input name="planid" id="planid" type="text">
            <label for="planid">Plan ID</label>
        </div>
    </div>
    <div class="row">
         <div class="input-field col l3">
            <input  name="origin" id="origin" type="text">
            <label for="origin">From</label>
        </div>
        <div class="input-field col l3">
            <input  name="destination" id="destination" type="text">
            <label for="destination">To</label>
        </div>
        <div class="range-field col l2">
            <input type="range" id="test5" name="AdultsNum" min="0" max="10" />
                <label for="AdultsNum">Adults Number</label>
        </div>
    </div>
    <div class="row">
        <ul class="collection">
            {% set count = 0 %} {% for flights in data %}
            <li class="collection-item">
                {% set num = 0 %} {% for flight in flights %}
                <span class="title">
                    <div class="row">
                    {% if count > 0 %}
                    <div id= "from_to{{count}}{{num}}" class="truncate  col l5 ">
                        <b class="flow-text">{{flight.title}}</b>
                    </div>
                    <div id="date{{count}}{{num}}" class="truncate col l2">{{flight.date}}</div>
                    {% if flight.price %}
                    <div class="col l3">
                    <input  name="price{{count}}{{num}}" value="{{flight.price}}" id="price{{count}}{{num}}" type="text" class="col l3">
                         <label for="price{{count}}{{num}}">$</label>
                    </div>         
                     <div class="col l2">
                        <a class="dropdown-button btn" data-activates="dealSelect{{count}}" id="dealSelectBtn{{count}}">Choose Deal</a>
                        <ul id = "dealSelect{{count}}" class="dropdown-content">
                            <li id="liBest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Best</a></li>
                            <li id="liCheapest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Cheapest</a></li>
                            <li id="liShortest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Shortest</a></li>
                            <li id="liElse{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Else</a></li>
                        </ul>
                    </div>
                    {% endif %}

                    {%else%}
                    <div id= "from_to{{num}}" class="truncate  col l5">
                        <b class="flow-text">{{flight.title}}</b>
                    </div>
                    <div id="date{{num}}" class="truncate col l2">{{flight.date}}</div>
                    {% if flight.price %}
                    <div class="col l3">
                    <input  name="price{{num}}" value="{{flight.price}}" id="price{{num}}" type="text" class="col l3">
                         <label for="price{{num}}">$</label>
                    </div>
                      <!--  <div class="col l1">
                    <input type="checkbox" id="{{num}}" name="select" />
                         <label for="{{num}}">select</label>
                    </div> -->           
                          <div class="col l2">
                        <a class="dropdown-button btn" data-activates="dealSelect{{count}}" id="dealSelectBtn{{count}}">Choose Deal</a>
                        <ul id = "dealSelect{{count}}" class="dropdown-content">
                            <li id="liBest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Best</a></li>
                            <li id="liCheapest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Cheapest</a></li>
                            <li id="liShortest{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Shortest</a></li>
                            <li id="liElse{{count}}"><a onclick="setDeal({{count}}, this.innerHTML)">Else</a></li>
                        </ul>
                    </div>
                    {%endif%}
                    {% endif %}

                    </div>
                </span> {% set i = 0 %}
                <p>{% for fl in flight.flights %}
                    <div class="row">
                        <div class="col s10 m12 l12">
                            <br>
                            <div class="truncate col s3 m3 l6 " id="fl{{num}}.name.{{i}}">{{fl.name}}</div>
                            <br>
                            <div class="truncate col s1 m1 l1 " id="fl{{num}}.date.{{i}}">{{fl.date}}</div>
                            <div class="truncate col s1 m1 l1 " id="fl{{num}}.departure.{{i}}">{{fl.departure}}</div>
                            <div class="truncate col s1 m1 l1 " id="fl{{num}}.arrival.{{i}}">{{ fl.arrival}}</div>
                            <div class="truncate col s1 m1 l1 " id="fl{{num}}.time.{{i}}">{{fl.time}}</div>
                            <div class="truncate col s2 m3 l2 " id="fl{{num}}.airline.{{i}}">{{fl.airline}}</div>
                            <div class="truncate col s2 m3 l2 " id="fl{{num}}.plane.{{i}}">{{fl.plane}}</div>
                            <div class="truncate col s2 m2 l2 " id="fl{{num}}.class.{{i}}">{{fl.class}}</div>
                            <br> {% if flight.layovers[i] %}
                            <div class="truncate col s4 m4 l3 " id="fl{{num}}.layover.in.{{i}}"> {{flight.layovers[i].in}}</div>
                            <div class="truncate col s4 m4 l3 " id="fl{{num}}.layover.time.{{i}}">{{flight.layovers[i].time}}</div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                    {% set i = i + 1 %} {% endfor %}
                </p>
                {% set num = num + 1 %}{% endfor %}
                <div class="row">
                    <div class="input-field col l1">
                        <input name="locationsNum" id="locationsNum{{count}}" type="text"onchange="setHotelsInputs(this.value, {{count}})"  >
                        <label for="locationsNum{{count}}">Hotels</label>
                    </div>
                </div>
                <div class="row" id="hotelsLocation{{count}}">
                </div>
            </li>
            {% set count = count + 1 %} {% endfor %}
        </ul>
    </div>
    <div>
        <a class="btn waves-effect waves-light" type="submit" value="Submit" onclick="submitToServer()">Submit</a>
    </div>
    <!--  Scripts-->
    
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
</body>
{% endautoescape %}

</html>
