{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Register a new user</h1>
<form action="/adminsignup" method="POST">
<label for="company">Company Name</label>
<input type="text" name="company" />
<label for="username">Username</label>
<input type="text" name="username" />
<label for="email">Email address</label>
<input type="text" name="email" />
<label for="password">Password</label>
<input type="password" name="password" />
<label for="title">Title (mr/mrs/mss)</label>
<input type="text" name="title" />
<label for="name">Name</label>
<input type="text" name="name" />
<label for="lastname">Last Name</label>
<input type="text" name="lastname" />
<label for="birthdate">Birth Date (YYYY-MM-DD)</label>
<input type="text" name="birthdate" />
<label for="type">Type (adult/child)</label>
<input type="text" name="type" />
<label for="PTC">PTC (ADT/YTH/CHD/SEN/INS/INF)</label>
<input type="text" name="PTC" />
<label for="document_number">Passport Number</label>
<input type="text" name="document_number" />
<label for="document_expiry_date">Passport Expiry Date (YYYY-MM-DD)</label>
<input type="text" name="document_expiry_date" />
<label for="document_issue_country">Passport Issue Country</label>
<input type="text" name="document_issue_country" />
<label for="document_nationality">Passenger's Nationality</label>
<input type="text" name="document_nationality" />
<label for="seat_preference">Seat Preference (W for window, A for aisle)</label>
<input type="text" name="seat_preference" />
<input type="submit" value="Create user" />
</form>

{% endblock %}
