{% extends "main.html" %}

{% block maincontent %}
<h1>Welcome</h1>
<p>Here should come a form to let you put inputs for the queries.<br>
The output will be similar to <a href="/DisplayUserInput">DisplayUserInput</a></p>
{% endblock %}