<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}OptimalTrip{% endblock %}</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>

  <body>
      <p>
        {% if not user %}
          <a href="/login">Login (and forgot password)</a>
        {% else %}
          Logged in as <span style="background-color: OldLace">{{ user.name }} (Company: {{user.company}})</span> | <a href="/logout">Logout</a>
        {% endif %}
        | <a href="/">Home</a> | <a href="/signup">New user</a> | <a href="/adminsignup">New admin user</a> | <br>
<!--        | <a href="/DisplayUserInput">DisplayUserInput</a> |
        <a href="/DisplayDataForAPIGenerator">DisplayDataForAPIGenerator</a> | 
        <a href="/DisplayQPXQueries">DisplayQPXQueries</a> |
        <a href="/DisplayQPXResults">DisplayQPXResults (API call, it takes time)</a> |
        <a href="/ConvertQPXResults">ConvertQPXResults</a> |
        <a href="/AddCalculationsOnResults">AddCalculationsOnResults</a> | <br> -->
        | <a href="/DisplayUserInput">DisplayUserInput</a> | 
        <a href="/DisplayDataForAPIGenerator">DisplayDataForAPIGenerator</a> | 
        <a href="/DisplayTBSQueries">DisplayTBSQueries</a> | 
        <a href="/DisplayTBSResults">DisplayTBSResults (API call, it takes time)</a> |
        <a href="/RestoreTBSResults">RestoreTBSResults</a> |
        <a href="/SaveResultsToDisk">SaveResultsToDisk</a> |
        <a href="/ShowBookingXML">BookItinerary (takes time)</a> |
             </p>
      <hr/>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
    </footer>
  </div>


  </body>
</html>
