{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Register a new user</h1>
<form action="/signup" method="POST">
<label for="username">Username</label>
<input type="text" name="username" />
<label for="email">Email address</label>
<input type="text" name="email" />
<label for="password">Password</label>
<input type="password" name="password" />
<label for="title">Title (mr/mrs/mss)</label>
<input type="text" name="title" />
<label for="name">Name</label>
<input type="text" name="name" />
<label for="lastname">Last Name</label>
<input type="text" name="lastname" />
<label for="birthdate">Birth Date (YYYY-MM-DD)</label>
<input type="text" name="birthdate" />
<label for="type">Type (adult/child)</label>
<input type="text" name="type" />
<label for="PTC">PTC (ADT/YTH/CHD/SEN/INS/INF)</label>
<input type="text" name="PTC" />
<label for="passport">Passport Number</label>
<input type="text" name="passport" />
<label for="admin">Is Admin? (y/n)</label>
<input type="boolean" name="admin" />
<input type="submit" value="Create user" />
</form>
{% endblock %}

