<!DOCTYPE html>
<html>
<head>
    <title>Flights and Hotels</title>
     <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
<form action="{{url}}" method="POST" enctype="multipart/form-data">
    <div class="input-field col l3">
        <input name="planid" id="planid" type="text">
        <label for="planid">Plan ID</label>
    </div>
Upload File: 
 <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <br>
  <input class="waves-effect waves-light btn" type="submit" name="submit" ></input>
</form> 
    <!--  Scripts-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
</body>
</script>
</html>