<div>
    <div style="text-align:center"><b>{{title}}</b></div>
    <div style="text-align: center; cursor:pointer" ng-click="isExpanded = isExpanded == true ? false : true;">Click here to Expand <i style="font-size:18px !important"  class="material-icons material-icons.md-18">arrow_drop_down</i></div>
  <div data-ng-show="isExpanded">
    <input id="{{id}}selectAll"  data-ng-model="isCheckedAll"  ng-click="checkAll()" type="checkbox">
                        <label style="width:100%" class="hoverSelect" for="{{id}}selectAll">Check all<br></label>

 <div ng-repeat="(key,value) in filterOptions">
            <input id="{{id}}option{{$index}}"   ng-model="filterOptions[key]" type="checkbox">
            <label style="width:100%" class="hoverSelect" for="{{id}}option{{$index}}">{{key}}<br></label>
    </div>
</div>
</div>