<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-controller="dependency">
    <div style="margin-bottom: 5px" range-slider
                 min="10" class="row-centered" max="20"
             ></div>
            <div class="pull-left">
              10
            </div>

            <div class="pull-right">
            20
            </div>


</div>


<!--<div ng-controller="dependency">-->
<!--<div style="height: 305px">-->
<!--<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
<!--<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
<!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
<!--<div class="carousel-caption">-->
<!--<h4>Slide {{slide.id}}</h4>-->
<!--<p>{{slide.text}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

</body>
</html>