<div>
    <div class="row flight_css" ng-class="selectedFlight? 'selected-flight-border' : ''">


        <!-- PRICE, FLIGHT INFO, V/X START -->
        <div class="row price_css">
            <div class="col-md-5 more_info_header_col">
                <div class="flight_price_css">
                    {{::flight.price}} {{::flight.currency}}
                </div>
            </div>
            <div class="col-md-4 more_info_col">

                <md-button class="btn_more_info" ng-click="showAdvanced($event, flight)">
                    flight info
                </md-button>

            </div>
            <div class="col-md-3">
                <md-button aria-label="Close" id="{{$index}}" class="md-fab select_flight_btn flight_select_icon"
                           ng-class="flight.selected? 'md-warn':'md-primary'"
                           ng-click="flight.selected=!flight.selected; chooseFlight(flight);
                                     selectedFlight=!selectedFlight">
                    <i class="flight_select_icon"
                       ng-class="flight.selected? 'mdi-content-clear  ': 'mdi-action-done '"></i>
                </md-button>
            </div>
        </div>
        <!-- PRICE, FLIGHT INFO, V/X END -->

        <!-- DEPARTURE/ARRIVAL START -->
        <div class="row">
            <div class="col-md-6 ">
                <h4 class="header">Departure</h4>
            </div>
            <div class="col-md-6 ">
                <h4 class="header">Arrival</h4>
            </div>
        </div>
        <!-- DEPARTURE/ARRIVAL END -->

        <!-- DETAILS START -->
        <div ng-repeat="leg in ::flight.legs" class="leg_css">
            <div class="row">
                <div class="col-md-6 state_col no_padding_col">
                    <strong>
                        {{::leg.origin.airport_code}}-{{::leg.origin.state}} <br>
                    </strong></div>
                <div class="col-md-6 state_col no_padding_col">
                    <strong>
                        {{::leg.destination.airport_code}}-{{::leg.destination.state}}<br>
                    </strong></div>
            </div>
            <div class="row">
                <div class="col-md-6 no_padding_col">
                    <div class="row info_row">
                        <strong>{{::leg.origin.date}}</strong> at
                        <strong>{{::convertMinutesToTimeString(leg.origin.time)}}</strong>
                    </div>
                </div>
                <div class="col-md-6 no_padding_col">
                    <div class="row info_row">
                        <strong>{{::leg.destination.date}}</strong> at
                        <strong>{{::convertMinutesToTimeString(leg.destination.time)}}</strong>
                    </div>
                </div>
            </div>
            <div class="row  ">
                Duration : <strong>{{::convertMinutesToTimeString(leg.duration)}} hr </strong>

            </div>
            <div class="row ">
                Class : <strong>{{:: getClassOfFlightsString(leg.direct_flights)}}</strong>
            </div>
            <div ng-repeat="directFlight in ::leg.direct_flights.slice(0,-1)">
                Stop {{::$index+1}} :
                <strong> {{::directFlight.arrival_airport_code}} -
                    {{::convertMinutesToTimeString(directFlight.stop_length)}} hr </strong>
            </div>
            <div class="row  ">
                Airlines: <strong> {{:: leg.airlines.join(", ")}}</strong>

            </div>
            <!--This code has too many watchers, it harms the performance -Alex Lavriv-->
            <!--<div icon-fix-->
            <!--hours-origin="leg.origin.drive_time"-->
            <!--minutes-origin="leg.origin.drive_time"-->
            <!--hours-destination="leg.destination.drive_time "-->
            <!--minutes-destination=" leg.destination.drive_time "-->
            <div class="row">

                <div ng-if="::(leg.origin.drive_time != 0 ||
                                   leg.origin.drive_time_traf != 0)" class="col-md-6 no_padding_col origin">
                    <div class="row flight_icon_con">
                        <div class="col-md-3 icon_col">
                            <button class="icon-button" uib-popover-template="'originDrivePopover.html'"
                                    popover-title="DRIVING TIME" popover-trigger="'outsideClick'">
                                <i class="mdi-maps-local-taxi flight_icon_dep"> </i>
                            </button>

                        </div>
                        <div ng-if="::(leg.origin.drive_time != 0)" class="col-md-9 flight_icon_text">
                            <p >
                                {{::convertMinutesToTimeString(leg.origin.drive_time)}} hr
                            </p>
                        </div>
                        <div ng-if="::(leg.origin.drive_time_traf != 0)" class="col-md-9 flight_icon_text">
                            <p>
                                {{::convertMinutesToTimeString(leg.origin.drive_time_traf)}} hr
                            </p>
                        </div>
                    </div>
                </div>


                <div ng-if="::(leg.destination.drive_time != 0 ||
                                   leg.destination.drive_time_traf != 0)" class="col-md-6 no_padding_col destination">

                    <div class="row flight_icon_con">
                        <div class="col-md-3 icon_col">

                            <button class="icon-button" uib-popover-template="'destinationDrivePopover.html'"
                                    popover-title="DRIVING TIME"
                                    popover-trigger="'outsideClick'"
                            >
                                <i class="mdi-maps-local-taxi flight_icon_arr"> </i>


                            </button>

                        </div>
                        <div ng-if="::(leg.destination.drive_time != 0)" class="col-md-9 flight_icon_text">

                            <p> {{::convertMinutesToTimeString(leg.destination.drive_time)}} hr</p>
                        </div>
                        <div ng-if="::(leg.destination.drive_time_traf != 0)" class="col-md-9 flight_icon_text">
                            <p>
                                {{::convertMinutesToTimeString(leg.destination.drive_time_traf)}} hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DETAILS END -->
    </div>

    <script type="text/ng-template" id="originDrivePopover.html">
        <div>
            {{::convertMinutesToTimeString(leg.origin.drive_time)}} hr with no traffic<br>
            {{::convertMinutesToTimeString(leg.origin.drive_time_traf)}} hr with traffic
        </div>
    </script>
    <script type="text/ng-template" id="destinationDrivePopover.html">
        <div>
            {{::convertMinutesToTimeString(leg.destination.drive_time)}} hr with no traffic<br>
            {{::convertMinutesToTimeString(leg.destination.drive_time_traf)}} hr with traffic
        </div>
    </script>


</div>