<md-dialog aria-label="Flight course information">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Flight course information</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div ng-repeat="leg in ::currentModalFlight.legs">
                    <!--add ng-init to save $last for inside repeat /tal-->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Airlines</th>
                            <th>Flight</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Druration</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <span class="directflight_small_header">{{::leg.origin.state}} - {{::leg.destination.state}}</span>
                        <tr ng-repeat="flight in ::leg.direct_flights">
                            <td>
                                {{::flight.airline}}
                            </td>
                            <td>
                                {{::flight.departure_airport_city}} - {{::flight.arrival_airport_city}}
                            </td>
                            <td>
                                <strong>{{::flight.departure_airport}}</strong> <br>
                                {{::flight.departure_date}}
                                <br>
                                {{::convertMinutesToTimeString(flight.departure_time)}}
                            </td>
                            <td>
                                <strong>{{::flight.arrival_airport}}</strong> <br> {{::flight.arrival_date}}
                                <br>
                                {{::convertMinutesToTimeString(flight.arrival_time)}}
                            </td>
                            <td>
                                <span>{{::convertMinutesToTimeString(flight.flight_duration)}} hr</span>

                                <!--changed to hr convention /tal-->
                                <br>

                                <span>{{::flight.arrival_airport_city}} - {{::convertMinutesToTimeString(flight.stop_length)}} hr</span>

                                </span>
                            </td>
                            <td>
                                {{::flight.details.meal}} <br>
                                {{::flight.details.class}}
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')">
                CLOSE
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>