<div>


    <md-select
            style="width:50%; display: inline-block;"
            md-selected-text="selectedText"
            md-on-open="loadFunction()"
            ng-model="model.selected"
            class="select-control"

            multiple>


        <div style="display:grid; grid-template-columns:16vw 29vw">


            <md-content>
                <md-option
                        ng-show="menuOptions.length > 1"
                        value="all"
                        ng-click="optionClicked('all')"
                >Select all
                </md-option>
                <md-option ng-value="option"
                           ng-click="optionClicked(option)"
                           ng-repeat=" option  in menuOptions"
                           ng-selected="setSelected(option)">{{option.airportText}}
                </md-option>

            </md-content>


            <google-map locations-names="menuOptions" opened="menuOpen" search-value="searchValue" resolve-type="resolveType" selected-locations="model.selected">
            </google-map>
        </div>
    </md-select>


    <md-select md-on-open="userInput=true" style="display: inline-block;"
               data-ng-model="model.distance"
               class="select-control">

        <md-option value="150">150</md-option>
        <md-option value="200">200</md-option>
        <md-option value="250">250</md-option>
        <md-option value="300">300</md-option>
        <md-option value="350">350</md-option>
        <md-option value="400">400</md-option>
    </md-select>


</div>