<div >

      <p ng-if="showFilterButton"><button ng-click="toggleRight()" style="height:
  70px;width: 121px;-webkit-transform: rotate(-90deg);font-size: 22px;
  position: fixed; z-index:2;top:70px; right: -30px; " class="w3-button w3-blue">HISTORY</button></p>

<md-sidenav  md-disable-backdrop="false" style="position:fixed; top:70px; display:inline-block; min-width:200px;min-height:300px;"
             class="historySideBar md-sidenav-right"
             md-component-id="right"  md-whiteframe="4">


     <md-toolbar class="md-theme-indigo">
         <div style="padding-top:12px">
               <span style="font-size: 25px;
    padding-left: 10px;">HISTORY  </span>

        <md-button class="md-icon-button" ng-click="closePanel()" style="float:left;right: 0px;
    position: absolute;" aria-label="Favorite">
          <md-icon md-svg-icon="images/ic_close_white_24px.svg" ></md-icon>
        </md-button>
             </div>


          </md-toolbar>





<!--<div style="width:40%;font-weight: 700; background-color: #fafafa;">Search History</div>-->
      <md-content style=" display: inline-block;" >

      <md-list flex="">

        <md-list-item class="md-3-line" ng-repeat="item in ::historyData" ng-click="itemClicked(item)">


            <div class="md-list-item-text " layout="column">   <h4 > <span > {{::getDisplayString(item)}}</span></h4></div>
                <!--<h4 >-->
                    <!--<span ng-if="::index==0">{{::leg.dates_options[0].toLocaleDateString()}}:</span>-->
                         <!--<span ng-if="::index < 2">  {{::leg.origin[0].split(', ')[0].toUpperCase()}} - -->
                           <!--{{::leg.destination[0].split(', ')[0].toUpperCase()}} </span> </h4>-->




            </md-list-item>

      </md-list>
    </md-content>
   <!--<div> <pre>{{::historyData | json}}</pre></div>-->

</md-sidenav>
</div>