<div class="popover_box_css">
    Driving time from the airport is: <br>
    {{getDurationHours(leg.destination.drive_time)}}:{{getDurationMinits(leg.destination.drive_time)}} hr with no traffic<br>
    {{getDurationHours(leg.destination.drive_time_traf)}}:{{getDurationMinits(leg.destination.drive_time_traf)}} hr with traffic
</div>