<div class="popover_box_css">
    Driving time to the airport is: <br>
    {{getDurationHours(leg.origin.drive_time)}}:{{getDurationMinits(leg.origin.drive_time)}} hr with no traffic<br>
    {{getDurationHours(leg.origin.drive_time_traf)}}:{{getDurationMinits(leg.origin.drive_time_traf)}} hr with traffic
</div>